openapi: 3.1.0
info:
  title: Nuru Place Pathway API
  version: "1.0.0"
  description: >
    Versioned REST surface over the §2 schema. Every endpoint is stateless,
    authenticated at the gateway, and idempotent wherever it creates state from a
    flaky client (spec §3). This document is the versioned contract validated in
    CI (§1.11, §3.7). The endpoint catalog below is the full v1 surface from §3.3;
    request/response schemas are filled in incrementally as features land — only
    the QuizSubmission/QuizResult slice from §3.7 is fleshed out so far.
servers:
  - url: https://api.nuruplace.org/v1
    description: Production (major version in path; additive-only within a major)

tags:
  - name: auth
  - name: curriculum
  - name: progress
  - name: assessment
  - name: portal
  - name: giving
  - name: certificates
  - name: announcements
  - name: system

security:
  - bearerAuth: []

paths:
  # --- Health (§4.7) ---
  /healthz:
    get:
      tags: [system]
      summary: Liveness probe.
      security: []
      responses:
        "200": { description: Process is up }
  /readyz:
    get:
      tags: [system]
      summary: Readiness probe (checks database and, when configured, Redis reachability).
      security: []
      responses:
        "200": { description: Ready }
        "503": { description: A dependency is unavailable }
  /metrics:
    get:
      tags: [system]
      summary: RED-style request metrics snapshot (count, errors, latency by status class).
      security: []
      responses:
        "200": { description: Metrics snapshot }

  # --- Authentication & identity (§3.3) ---
  /auth/oauth/{provider}:
    post:
      tags: [auth]
      summary: Exchange an IdP authorization code for our tokens; provisions on first login.
      security: []
      parameters:
        - { name: provider, in: path, required: true, schema: { type: string, enum: [kingschat, google, apple] } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OAuthExchange" }
      responses:
        "200":
          description: Token pair issued
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenPair" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }
  /auth/login:
    post:
      tags: [auth]
      summary: Email + password sign-in (argon2id verify). Generic error on bad credentials; 403 if suspended; 429 if locked after repeated failures.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        "200":
          description: Access + refresh pair
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenPair" }
        "400": { description: Validation failed }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "429": { description: Account temporarily locked after too many failed attempts }
  /auth/register:
    post:
      tags: [auth]
      summary: Self-service sign-up; provisions a Student and mints a session (auto sign-in).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [full_name, email, password]
              properties:
                full_name: { type: string, maxLength: 255 }
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
      responses:
        "201":
          description: Account created; access + refresh pair issued
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenPair" }
        "400": { description: Validation failed }
        "409": { $ref: "#/components/responses/Conflict" }
  /auth/password/forgot:
    post:
      tags: [auth]
      summary: Request a password-reset link. Always 200 (no account enumeration).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "200":
          description: Reset requested (link delivered if the account exists)
          content:
            application/json:
              schema:
                type: object
                required: [sent]
                properties:
                  sent: { type: boolean }
                  dev_token: { type: string, description: "Non-production only: the raw reset token, for testing." }
  /auth/password/reset:
    post:
      tags: [auth]
      summary: Consume a reset token and set a new password; revokes all sessions.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, new_password]
              properties:
                token: { type: string }
                new_password: { type: string, minLength: 8 }
      responses:
        "200":
          description: Password reset
          content:
            application/json:
              schema:
                type: object
                required: [reset]
                properties:
                  reset: { type: boolean }
        "400": { description: Validation failed }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /auth/token/refresh:
    post:
      tags: [auth]
      summary: Rotate refresh token; reuse detection revokes the family.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RefreshRequest" }
      responses:
        "200":
          description: New access + refresh pair
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenPair" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /auth/logout:
    post:
      tags: [auth]
      summary: Revoke the current refresh-token family.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RefreshRequest" }
      responses:
        "204": { description: Logged out }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /auth/dev-login:
    post:
      tags: [auth]
      summary: DEV ONLY. Mint a session for a seeded user by email/user_id. 404 in production (never mounted).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                user_id: { type: string, format: uuid }
      responses:
        "200":
          description: Token pair issued
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenPair" }
        "404": { $ref: "#/components/responses/NotFound" }
  /auth/mfa/enroll:
    post:
      tags: [auth]
      summary: Begin TOTP enrollment; returns an otpauth URI for an authenticator app (§5.3).
      responses:
        "201":
          description: Enrollment started (activates on first verify)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MfaEnroll" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /auth/mfa/verify:
    post:
      tags: [auth]
      summary: Verify a TOTP code; returns an MFA-elevated access token for step-up (§5.3).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MfaVerify" }
      responses:
        "200":
          description: MFA-elevated access token
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MfaElevation" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me:
    get:
      tags: [auth]
      summary: Current user profile + enrollment summary + active level.
      responses:
        "200":
          description: Profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeProfile" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    patch:
      tags: [auth]
      summary: Update mutable profile fields with row_version check.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProfileUpdate" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeProfile" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/Conflict" }
  /me/onboarding:
    post:
      tags: [auth]
      summary: Submit baseline intake + literacy quiz; instantiates enrollment at L1·M1.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OnboardingIntake" }
      responses:
        "201": { description: Enrolled }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /me/devices:
    post:
      tags: [auth]
      summary: Register a device + push token; returns a device_id for sync cursors.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DeviceRegister" }
      responses:
        "201": { description: Device registered }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # --- Curriculum & content (§3.3) ---
  /levels:
    get:
      tags: [curriculum]
      summary: The discipleship levels with themes and pass marks.
      responses:
        "200": { description: Levels }
  /me/pathway:
    get:
      tags: [curriculum]
      summary: Per-member pathway summary; each level with module counts and completion status.
      responses:
        "200": { description: Pathway summary }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /levels/{n}/modules:
    get:
      tags: [curriculum]
      summary: Modules for a level; locked ones return metadata + locked:true.
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Modules }
  /modules/{id}:
    get:
      tags: [curriculum]
      summary: Full lesson content + signed media URL.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Module body }
        "409": { $ref: "#/components/responses/GateLocked" }
  /scripture:
    get:
      tags: [curriculum]
      summary: Sanitised YouVersion passage by ref + version + language.
      parameters:
        - { name: ref, in: query, required: true, schema: { type: string } }
        - { name: version, in: query, schema: { type: string } }
        - { name: language, in: query, schema: { type: string } }
      responses:
        "200":
          description: Passage
          content:
            application/json:
              schema:
                type: object
                required: [reference, text]
                properties:
                  reference: { type: string }
                  version: { type: string }
                  language: { type: string }
                  text: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }
  # --- Admin curriculum CMS (Admin/SuperAdmin only, §5.4) ---
  /admin/levels:
    get:
      tags: [curriculum]
      summary: Admin. All levels with per-status module counts.
      responses:
        "200": { description: Levels }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [curriculum]
      summary: Admin. Create the next contiguous level.
      responses:
        "201": { description: Created }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/levels/{n}:
    put:
      tags: [curriculum]
      summary: Admin. Update a level's title/theme/pass mark.
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Updated }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/levels/{n}/exam:
    put:
      tags: [curriculum]
      summary: Admin. Configure the level exit exam (pass mark + served question count).
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Configured }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/levels/{n}/modules:
    get:
      tags: [curriculum]
      summary: Admin. All modules for a level incl. drafts/archived, in sequence.
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Modules }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/modules:
    post:
      tags: [curriculum]
      summary: Admin. Create a module (auto-appended sequence); 409 on sequence clash.
      responses:
        "201": { description: Created }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /admin/modules/{id}:
    get:
      tags: [curriculum]
      summary: Admin. Full module record incl. content + current version.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Module }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [curriculum]
      summary: Admin. Edit any field; content edits version the module (optimistic-concurrency).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Updated }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { $ref: "#/components/responses/Conflict" }
    delete:
      tags: [curriculum]
      summary: Admin. Archive (soft) a module; never hard-deleted.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Archived }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/modules/{id}/publish:
    post:
      tags: [curriculum]
      summary: Admin. Publish with validation (quiz needs questions; sequence stays contiguous).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Published }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /admin/modules/{id}/unpublish:
    post:
      tags: [curriculum]
      summary: Admin. Return a module to draft (immediately hidden from students).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Unpublished }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/modules/{id}/reorder:
    post:
      tags: [curriculum]
      summary: Admin. Move a module within its level; re-sequences atomically.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Reordered }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/modules/{id}/versions:
    get:
      tags: [curriculum]
      summary: Admin. Module version history (who/when/version).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Versions }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/modules/{id}/revert:
    post:
      tags: [curriculum]
      summary: Admin. Restore a prior version as a new version.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Reverted }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/modules/{id}/questions:
    get:
      tags: [curriculum]
      summary: Admin. Question bank for a module (active + drafts; archived excluded).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Questions }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [curriculum]
      summary: Admin. Add question-bank items (per-type validation).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "201": { description: Saved }
        "400": { description: Validation failed }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/questions/{qid}:
    put:
      tags: [curriculum]
      summary: Admin. Edit a question (per-type validation on the merged result).
      parameters:
        - { name: qid, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200": { description: Updated }
        "400": { description: Validation failed }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    delete:
      tags: [curriculum]
      summary: Admin. Archive (soft-delete) a question; attempts keep their FK.
      parameters:
        - { name: qid, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200": { description: Deleted }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/preview:
    post:
      tags: [curriculum]
      summary: Admin. Render authored Markdown to sanitized HTML for preview.
      responses:
        "200": { description: Sanitized HTML }
        "403": { $ref: "#/components/responses/ForbiddenScope" }

  # --- System reference data (Final Pathway Portal "System" section) ---
  /admin/countries:
    get:
      tags: [system]
      summary: Admin. List countries (reference data) for the System section + dashboard counts.
      responses:
        "200": { description: Countries }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [system]
      summary: Admin. Add a country (reference data).
      responses:
        "201": { description: Created }
        "409": { $ref: "#/components/responses/Conflict" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/countries/{code}:
    put:
      tags: [system]
      summary: Admin. Update a country (incl. enable/disable).
      parameters: [{ name: code, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: Updated }
        "404": { $ref: "#/components/responses/NotFound" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/languages:
    get:
      tags: [system]
      summary: Admin. List languages (reference data) for the System section + dashboard counts.
      responses:
        "200": { description: Languages }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [system]
      summary: Admin. Add a language (reference data).
      responses:
        "201": { description: Created }
        "409": { $ref: "#/components/responses/Conflict" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/languages/{code}:
    put:
      tags: [system]
      summary: Admin. Update a language (incl. default + coverage + status).
      parameters: [{ name: code, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: Updated }
        "404": { $ref: "#/components/responses/NotFound" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    delete:
      tags: [system]
      summary: Admin. Remove a non-default language.
      parameters: [{ name: code, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: Deleted }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/congregations:
    get:
      tags: [system]
      summary: Admin. List congregations (branches/assemblies) with cell + member counts.
      responses:
        "200": { description: Congregations }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [system]
      summary: Admin. Register a congregation (name, country, timezone).
      responses:
        "201": { description: Created }
        "409": { $ref: "#/components/responses/Conflict" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/congregations/{id}:
    put:
      tags: [system]
      summary: Admin. Update a congregation.
      parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      responses:
        "200": { description: Updated }
        "404": { $ref: "#/components/responses/NotFound" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    delete:
      tags: [system]
      summary: Admin. Remove a congregation that has no cells or members.
      parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      responses:
        "200": { description: Deleted }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/roles:
    get:
      tags: [system]
      summary: RBAC. List roles with permission matrix + assigned-user counts (rolesAdmin:view, §5.4).
      responses:
        "200": { description: Roles }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [system]
      summary: RBAC. Create a custom role (optionally copy permissions from another role) (rolesAdmin:create).
      responses:
        "201": { description: Created }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/roles/{key}:
    put:
      tags: [system]
      summary: RBAC. Update a role's name/description/status (rolesAdmin:edit).
      parameters: [{ name: key, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: Updated }
        "404": { $ref: "#/components/responses/NotFound" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    delete:
      tags: [system]
      summary: RBAC. Delete a custom role (built-in roles are protected) (rolesAdmin:delete).
      parameters: [{ name: key, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: Deleted }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/roles/{key}/permissions:
    put:
      tags: [system]
      summary: RBAC. Replace a role's permission matrix (Super Admin is always full) (rolesAdmin:edit).
      parameters: [{ name: key, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: Permissions set }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/users:
    get:
      tags: [system]
      summary: RBAC. List portal accounts with assigned roles, country, language and status (users:view, §5.4).
      responses:
        "200": { description: Users }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [system]
      summary: RBAC. Create a portal account (argon2 password, role assignments) (users:create).
      responses:
        "201": { description: Created }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/users/{id}:
    put:
      tags: [system]
      summary: RBAC. Update a portal account (details, roles, status, 2FA, optional new password) (users:edit).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Updated }
        "404": { $ref: "#/components/responses/NotFound" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    delete:
      tags: [system]
      summary: RBAC. Soft-delete a portal account (cannot delete your own) (users:delete).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Deleted }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }

  # --- Progress, assessment & reflections (§3.3) ---
  /modules/{id}/complete:
    post:
      tags: [progress]
      summary: Mark module complete (idempotent via client_mutation_id); re-evaluates gating.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Completed }
        "409": { $ref: "#/components/responses/GateLocked" }
  /modules/{id}/quiz:
    get:
      tags: [assessment]
      summary: Assemble a randomised quiz from the module bank (no answers returned).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Served question set
          content:
            application/json:
              schema: { $ref: "#/components/schemas/QuizAssembly" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/GateLocked" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /modules/{id}/quiz/attempts:
    post:
      tags: [assessment]
      summary: Submit a quiz attempt
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/QuizSubmission" }
      responses:
        "200":
          description: Scored
          content:
            application/json:
              schema: { $ref: "#/components/schemas/QuizResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/GateLocked" }
  /levels/{n}/exam:
    get:
      tags: [assessment]
      summary: Assemble the level exit exam from the level's active question pool.
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer } }
      responses:
        "200":
          description: Served exam question set
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExamAssembly" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/GateLocked" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /levels/{n}/exam/attempts:
    post:
      tags: [assessment]
      summary: Submit the level exit exam; ≥ pass mark required to proceed.
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/QuizSubmission" }
      responses:
        "200":
          description: Scored
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExamResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/GateLocked" }
  /levels/{n}/reflection:
    post:
      tags: [assessment]
      summary: Submit the descriptive reflection; enqueues to the review queue.
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReflectionSubmit" }
      responses:
        "201":
          description: Enqueued
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReflectionReview" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/GateLocked" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /events/{id}/attendance:
    post:
      tags: [progress]
      summary: Record a QR check-in (idempotent via client_scan_id); validates the scan token.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [client_scan_id, scan_token]
              properties:
                client_scan_id: { type: string, format: uuid }
                scan_token: { type: string }
      responses:
        "201":
          description: Checked in
          content:
            application/json:
              schema:
                type: object
                required: [attendance_id, duplicate]
                properties:
                  attendance_id: { type: string, format: uuid }
                  duplicate: { type: boolean }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }

  # --- Multiplier / admin portal (§3.3) ---
  /cohorts/{cell_id}/members:
    get:
      tags: [portal]
      summary: Cohort members sorted by e_score asc; scoped to caller's leader_assignments.
      parameters:
        - { name: cell_id, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: band, in: query, schema: { type: string, enum: [thriving, steady, watch, at_risk] } }
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Cohort page (ascending by e_score)
          content:
            application/json:
              schema:
                type: object
                required: [data, next_cursor]
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/EngagementBreakdown" } }
                  next_cursor: { type: [string, "null"] }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /members/{id}/engagement:
    get:
      tags: [portal]
      summary: A member's Hᵢ/Cᵢ/Aᵢ breakdown + recent signal history.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Breakdown
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EngagementBreakdown" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /reviews:
    get:
      tags: [portal]
      summary: The reflection-review queue for the caller's scope.
      parameters:
        - { name: state, in: query, schema: { type: string, enum: [pending, approved, rejected] } }
      responses:
        "200":
          description: Queue
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/ReviewQueueItem" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /reviews/{id}/decision:
    post:
      tags: [portal]
      summary: Approve/reject a reflection; approval flips the level and triggers certificate issuance.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReviewDecision" }
      responses:
        "200":
          description: Decision recorded
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReviewDecisionResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { $ref: "#/components/responses/Conflict" }
  /relationships:
    post:
      tags: [portal]
      summary: Log a multiplier→disciple edge in the relationship tree.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [disciple_id]
              properties:
                disciple_id: { type: string, format: uuid }
                multiplier_id: { type: string, format: uuid, description: Admin-only; defaults to the caller }
      responses:
        "201":
          description: Edge created
          content:
            application/json:
              schema: { type: object, required: [tree_id], properties: { tree_id: { type: string, format: uuid } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { $ref: "#/components/responses/Conflict" }
  /members/{id}/milestones:
    patch:
      tags: [portal]
      summary: Record external milestones (water baptism verified, etc.).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_baptized: { type: boolean }
                year_of_salvation: { type: [integer, "null"] }
      responses:
        "200": { description: Updated }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }

  # --- Giving, products & certificates (§3.3) ---
  /giving/intents:
    post:
      tags: [giving]
      summary: Create a payment intent (card via Stripe → client secret; mpesa/airtel → STK push). Idempotent.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GivingIntentRequest" }
      responses:
        "201":
          description: Intent created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GivingIntentResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }
  /giving/schedules:
    post:
      tags: [giving]
      summary: Create a recurring giving schedule (weekly/monthly). The SERVER charges each cycle; managed online-only (money never queues offline).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GivingScheduleCreate" }
      responses:
        "201": { description: Schedule created }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/Unprocessable" }
    get:
      tags: [giving]
      summary: My recurring giving schedules.
      responses:
        "200": { description: Schedules }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /giving/schedules/{id}/cancel:
    post:
      tags: [giving]
      summary: Cancel an active schedule (idempotent; 404 once cancelled).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Cancelled }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /giving/history:
    get:
      tags: [giving]
      summary: The caller's own giving/purchase ledger.
      responses:
        "200":
          description: Ledger
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/GivingRecord" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /giving/transactions/{id}:
    get:
      tags: [giving]
      summary: Full detail for one of the caller's gifts, including the ledger trail.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: Gift detail
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GivingDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /giving/statement.pdf:
    get:
      tags: [giving]
      summary: The caller's giving statement as a downloadable PDF.
      description: >
        Rendered server-side and opened in the OS browser/viewer. Accepts the
        access token either as a Bearer header or a `token` query parameter
        (the browser can't attach an Authorization header).
      parameters:
        - { name: token, in: query, required: false, schema: { type: string } }
      responses:
        "200":
          description: PDF document
          content:
            application/pdf:
              schema: { type: string, format: binary }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /products:
    get:
      tags: [giving]
      summary: Purchasable media catalogue.
      responses:
        "200":
          description: Products
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required: [product_id, title, price_minor, currency]
                      properties:
                        product_id: { type: string, format: uuid }
                        title: { type: string }
                        price_minor: { type: integer, format: int64 }
                        currency: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /products/{id}/purchase:
    post:
      tags: [giving]
      summary: Buy media; on success grants access via purchases.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "201":
          description: Purchase started (access granted on the webhook)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GivingIntentResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
  /certificates:
    get:
      tags: [certificates]
      summary: The caller's issued certificates with download URLs.
      responses:
        "200":
          description: Certificates
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/Certificate" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /verify/{code}:
    get:
      tags: [certificates]
      summary: Public. Verify a certificate by its printed code.
      security: []
      parameters:
        - { name: code, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Issuance facts + validity
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CertificateVerification" }
        "404": { $ref: "#/components/responses/NotFound" }

  # --- Media (§4.5) ---
  /media/url:
    get:
      tags: [system]
      summary: Broker a short-lived signed delivery URL for an object key.
      parameters:
        - { name: key, in: query, required: true, schema: { type: string } }
      responses:
        "200":
          description: Signed URL
          content:
            application/json:
              schema:
                type: object
                required: [url, expires_at]
                properties:
                  url: { type: string, format: uri }
                  expires_at: { type: string, format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  # --- Video pipeline (Features v2 §V) ---
  /media/{id}/manifest:
    get:
      tags: [system]
      summary: Signed, expiring HLS master-manifest URL (gated like lesson content).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Signed manifest URL }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/GateLocked" }
  /media/{id}/reactions:
    post:
      tags: [system]
      summary: Member. Toggle a reaction (emoji; ❤️ = Like) on a media asset; returns the refreshed summary.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [emoji]
              properties:
                emoji: { type: string, description: "One of ❤️ 🙏 🔥 🎉 👏" }
      responses:
        "200": { description: "{ on, reactions[], love_count, liked }" }
        "400": { description: Unsupported reaction }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/media:
    get:
      tags: [system]
      summary: Admin. Video Library — managed assets with linked module, stuck-encoding flag, external + library fields, derived views/completion.
      parameters:
        - { name: status, in: query, required: false, schema: { type: string, enum: [uploading, transcoding, ready, failed] } }
        - { name: video_source, in: query, required: false, schema: { type: string, enum: [cloudinary, youtube, vimeo, direct, private] } }
        - { name: level, in: query, required: false, schema: { type: integer } }
        - { name: attached, in: query, required: false, schema: { type: string, enum: ["true", "false"] } }
        - { name: q, in: query, required: false, schema: { type: string } }
      responses:
        "200": { description: Assets }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/media/external:
    post:
      tags: [system]
      summary: Admin. Register an external video (YouTube/Vimeo/direct/private); no transcode, status ready immediately.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [video_source, url]
              properties:
                video_source: { type: string, enum: [youtube, vimeo, direct, private] }
                url: { type: string, format: uri }
                title: { type: string }
                caption: { type: string }
                level_number: { type: integer }
      responses:
        "201": { description: Registered asset }
        "400": { description: Validation failed }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/media/videos/upload:
    post:
      tags: [system]
      summary: Admin. Upload a video file to our own storage (VPS disk, not Cloudinary); registers a ready 'direct' asset with a public URL.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
                title: { type: string }
                caption: { type: string }
                level_number: { type: integer }
      responses:
        "201": { description: Stored asset }
        "400": { description: Validation failed (not a video / too large) }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/media/videos/chunk:
    put:
      tags: [system]
      summary: Admin. Upload one chunk of a chunked parallel video upload (raw octet-stream body).
      parameters:
        - { in: query, name: upload_id, required: true, schema: { type: string, format: uuid } }
        - { in: query, name: index, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema: { type: string, format: binary }
      responses:
        "200": { description: Chunk stored }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/media/videos/finalize:
    post:
      tags: [system]
      summary: Admin. Finalize a chunked upload — concatenates the chunks and registers a ready 'direct' asset.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [upload_id, total_chunks]
              properties:
                upload_id: { type: string, format: uuid }
                total_chunks: { type: integer }
                filename: { type: string }
                title: { type: string }
                caption: { type: string }
                level_number: { type: integer }
      responses:
        "201": { description: Stored asset }
        "400": { description: Validation failed (missing chunk / too large) }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /home/welcome-video:
    get:
      tags: [system]
      summary: Member. The current homepage welcome video (external link or signed delivery URL), or null.
      responses:
        "200": { description: Welcome video or null }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /admin/media/uploads:
    post:
      tags: [system]
      summary: Admin. Create a direct-to-storage upload session (signed PUT URL).
      responses:
        "201": { description: Upload session }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/media/uploads/{id}/complete:
    post:
      tags: [system]
      summary: Admin. Mark upload complete; enqueues transcode. Idempotent.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Transcoding }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/media/{id}:
    get:
      tags: [system]
      summary: Admin. Asset status, ladder, duration, error_detail, external + library fields.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Asset }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [system]
      summary: Admin. Update caption, level_number, title (and external video_source/url).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                caption: { type: string }
                level_number: { type: [integer, "null"] }
                video_source: { type: string, enum: [youtube, vimeo, direct, private] }
                url: { type: string, format: uri }
      responses:
        "200": { description: Updated asset }
        "400": { description: Validation failed }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [system]
      summary: Admin. Archive an asset (refused if a published module references it).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Archived }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { $ref: "#/components/responses/Conflict" }
  /admin/media/{id}/homepage:
    post:
      tags: [system]
      summary: Admin. Set this asset as THE homepage welcome video (unsets any other).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Set }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [system]
      summary: Admin. Clear the homepage flag from this asset.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Cleared }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/media/{id}/thumbnail:
    post:
      tags: [system]
      summary: Admin. Set the thumbnail/poster image (uploaded image or a frame captured from the video).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
      responses:
        "200": { description: Thumbnail set }
        "400": { description: Validation failed (not an image / too large) }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [system]
      summary: Admin. Clear the asset's thumbnail.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Thumbnail cleared }
        "404": { $ref: "#/components/responses/NotFound" }

  # --- Calendar (Features v2 §C) ---
  /calendar:
    get:
      tags: [system]
      summary: Projected occurrences in a bounded window (≤ 92 days), visibility-scoped.
      parameters:
        - { name: from, in: query, required: true, schema: { type: string, format: date-time } }
        - { name: to, in: query, required: true, schema: { type: string, format: date-time } }
      responses:
        "200": { description: Occurrences }
        "400": { description: Invalid range }
  /calendar/parse:
    post:
      tags: [system]
      summary: Leader+. NLP quick-add → suggested title/start/end (never auto-creates).
      responses:
        "200": { description: Parsed suggestion }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /events/{id}:
    get:
      tags: [system]
      summary: One occurrence — details, RSVP counts, my RSVP.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Event }
        "404": { $ref: "#/components/responses/NotFound" }
  /events/{id}/rsvp:
    post:
      tags: [system]
      summary: Set RSVP (idempotent via client_mutation_id; offline-queueable).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: RSVP recorded }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/events/series:
    post:
      tags: [system]
      summary: >-
        Leader+/Admin. Create an event series (validated RRULE). Accepts either the
        canonical body (dtstart_local) or the portal's shape (start_date + start_time
        / starts_at, and a members|public|leaders visibility vocabulary). Open-ended
        RRULEs are bounded server-side (§C.4). status=draft records the series without
        materializing occurrences or showing it to members until published.
      responses:
        "201": { description: Series created }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /admin/events/series/{id}:
    put:
      tags: [system]
      summary: Leader+/Admin. Edit a series (future occurrences).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Updated }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    delete:
      tags: [system]
      summary: Leader+/Admin. Soft-delete a series (past occurrences preserved).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Deleted }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/events/series/{id}/exceptions:
    post:
      tags: [system]
      summary: Leader+/Admin. Cancel or reschedule one occurrence.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "201": { description: Exception recorded }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/events/series/{id}/pause:
    post:
      tags: [system]
      summary: Leader+/Admin. Pause a series — stops projecting/materializing future occurrences (audited). Returns the updated series (is_paused=true).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Paused }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/events/series/{id}/resume:
    post:
      tags: [system]
      summary: Leader+/Admin. Resume a paused series — restores normal projection (audited). Returns the updated series (is_paused=false).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Resumed }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }

  # --- Onboarding (Features v2 §O) ---
  /onboarding:
    get:
      tags: [auth]
      summary: Resumable onboarding session state (current step, completed, next required).
      responses:
        "200": { description: Session state }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /onboarding/steps/profile:
    put:
      tags: [auth]
      summary: Save profile step (DOB, phone, salvation year, baptism).
      responses:
        "200": { description: Saved }
  /onboarding/steps/cell_selection:
    put:
      tags: [auth]
      summary: Select a cell; derives the congregation.
      responses:
        "200": { description: Saved }
  /onboarding/steps/guardian_consent:
    put:
      tags: [auth]
      summary: Minors only. Record guardian consent (immutable once granted; encrypted contact).
      responses:
        "200": { description: Recorded }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /onboarding/literacy-quiz:
    get:
      tags: [auth]
      summary: Serve the literacy assessment items.
      responses:
        "200": { description: Items }
  /onboarding/steps/literacy_quiz:
    put:
      tags: [auth]
      summary: Submit literacy answers (server-scored; idempotent).
      responses:
        "200": { description: Scored }
  /onboarding/steps/notifications:
    put:
      tags: [auth]
      summary: Set quiet hours / opt-in preferences.
      responses:
        "200": { description: Saved }
  /onboarding/finalize:
    post:
      tags: [auth]
      summary: Validate all required steps (consent REQUIRED for minors) → enroll at L1.
      responses:
        "201": { description: Enrolled }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /directory/cell-groups:
    get:
      tags: [auth]
      summary: Minimal-field cell directory for selection (auth + rate-limited).
      parameters:
        - { name: congregation, in: query, schema: { type: string, format: uuid } }
        - { name: search, in: query, schema: { type: string } }
      responses:
        "200": { description: Cells }

  # --- Gamification (Features v2 §G) ---
  /me/achievements:
    get:
      tags: [system]
      summary: My badges + streak + aggregate stats.
      responses:
        "200": { description: Achievements }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /badges:
    get:
      tags: [system]
      summary: Active badge catalog (what's possible).
      responses:
        "200": { description: Catalog }
  /cells/{id}/milestones:
    get:
      tags: [system]
      summary: Aggregate-only cell encouragement (k-anonymity floor; never per-member ranks).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Aggregates }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /members/{id}/achievements:
    get:
      tags: [system]
      summary: Leader-scoped pastoral view of a member's achievements.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Achievements }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/badges:
    get:
      tags: [system]
      summary: Admin (view). Full badge catalog incl. deactivated (is_active flag). Members use /badges.
      responses:
        "200": { description: Badge catalog }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [system]
      summary: Admin. Create a badge (criteria validated against the registered rule schema).
      responses:
        "201": { description: Created }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { $ref: "#/components/responses/Conflict" }
  /admin/badges/{code}:
    delete:
      tags: [system]
      summary: Admin. Deactivate a badge (never revokes earned badges).
      parameters:
        - { name: code, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Deactivated }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/badges/{code}/reactivate:
    post:
      tags: [system]
      summary: Admin. Re-activate a deactivated badge so it is awarded again.
      parameters:
        - { name: code, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Reactivated }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/members/{id}/badges/{code}/revoke:
    post:
      tags: [system]
      summary: Admin. Data-correction revocation (audited, reason required).
      parameters:
        - $ref: "#/components/parameters/IdPath"
        - { name: code, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Revoked }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }

  # --- Module reflections (Contract Matrix B3) ---
  /modules/{id}/reflection:
    get:
      tags: [assessment]
      summary: The member's own module reflection — state + reviewer feedback (never the pastoral note).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Reflection }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/reflections:
    get:
      tags: [portal]
      summary: Leader+. Module-reflection review queue (cell-scoped; state + overdue filters).
      responses:
        "200": { description: Queue }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/reflections/{id}/decision:
    post:
      tags: [portal]
      summary: Leader+. Approve / return (feedback required, re-locks gating) / defer. Audited; notifies member (+multiplier).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Decided }
        "400": { description: Validation failed }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/reflections/{id}/history:
    get:
      tags: [portal]
      summary: Leader+. The audited decision trail for one reflection.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: History }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }

  # --- Attendance + events ops (Contract Matrix B2) ---
  /me/rsvps:
    get:
      tags: [system]
      summary: The member's RSVPs for upcoming events.
      responses:
        "200": { description: RSVPs }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /calendar/series:
    get:
      tags: [system]
      summary: Followable event series for the member (Events make "Series you follow") — cadence, next occurrence, following flag, new count.
      responses:
        "200": { description: Series }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /calendar/series/{id}/follow:
    post:
      tags: [system]
      summary: Follow / unfollow an event series (idempotent toggle).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Follow state }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /me/cell-summary:
    get:
      tags: [system]
      summary: The member's cell summary for the Events tab (cell, members, this-month attendance, next gathering). Returns cell=null without a cell.
      responses:
        "200": { description: Cell summary }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /admin/events/{id}/checkins:
    post:
      tags: [portal]
      summary: Leader+. Manual check-in with optional reason (cell-scoped, idempotent, audited).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "201": { description: Checked in (or duplicate) }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /admin/events/{id}/guests:
    post:
      tags: [portal]
      summary: Leader+. Record a walk-in / first-time guest (cell-scoped, audited).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "201": { description: Guest recorded }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/events/{id}/attendance:
    get:
      tags: [portal]
      summary: Leader+. Event roster — checked-in (with method), guests, RSVP'd-but-absent.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Roster }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/events/{id}/rsvps:
    get:
      tags: [portal]
      summary: >-
        Leader+. RSVP roster for one occurrence (cell-scoped). Returns buckets
        {going, maybe, declined, no_response} of {user_id, full_name, response,
        cell_name, responded_at}, plus counts per response. no_response lists the
        occurrence cell's members with no rsvp row (no_response_scope=cell);
        empty for congregation-wide occurrences (no_response_scope=none).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: RSVP roster }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }

  # --- ERP core (Contract Matrix B1) ---
  /admin/reports/overview:
    get:
      tags: [portal]
      summary: Admin. Dashboard KPI block (members, learners, engagement, certs, reviews…).
      responses:
        "200": { description: KPI aggregates }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/reports/engagement:
    get:
      tags: [portal]
      summary: Admin. Engagement band distribution + lowest-engagement cells (each cell row carries is_featured for the homepage toggle).
      responses:
        "200": { description: Engagement report }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/reports/attendance:
    get:
      tags: [portal]
      summary: Admin. Weekly attendance trend + recent events with check-ins/RSVPs.
      parameters:
        - { name: weeks, in: query, schema: { type: integer, minimum: 1, maximum: 52, default: 8 } }
      responses:
        "200": { description: Attendance report }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/reports/levels:
    get:
      tags: [portal]
      summary: Admin. Per-level curriculum analytics (modules, learners, completion, certificates) + 6-month enrolment trend.
      responses:
        "200": { description: Level analytics }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/reports/consents:
    get:
      tags: [portal]
      summary: Admin. Guardian consents needing annual renewal (§5.9).
      responses:
        "200": { description: Expiring consents }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/notifications:
    get:
      tags: [portal]
      summary: Portal activity feed (top-bar bell + Notifications page), synthesized from real events; each item carries the caller's read flag (dashboard:view).
      responses:
        "200": { description: Notifications feed }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/notifications/{action}:
    post:
      tags: [portal]
      summary: Set the caller's notification state — action is read|unread|dismiss — for a set of feed ids (persists across devices, dashboard:view).
      parameters: [{ name: action, in: path, required: true, schema: { type: string, enum: [read, unread, dismiss] } }]
      responses:
        "200": { description: Updated }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/cells:
    post:
      tags: [portal]
      summary: Admin. Register a new cell (name + discipler/focus/level/meeting metadata). Engagement metrics stay derived; a fresh cell reports zeros until disciples are assigned. Audited.
      responses:
        "201": { description: Cell created }
        "400": { description: Validation failed }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { description: A cell with that name already exists }
  /admin/cells/{id}:
    patch:
      tags: [portal]
      summary: Admin. Edit a cell's details (name + discipler/focus/level/meeting metadata). Only supplied fields change; name stays unique per congregation. Audited.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Cell updated }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: A cell with that name already exists }
  /admin/cells/{id}/homepage:
    post:
      tags: [portal]
      summary: Admin. Feature this cell on the mobile homepage ("This week at Nuru"); unsets any other. Single featured cell at a time. Audited.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Featured }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [portal]
      summary: Admin. Clear the homepage-feature flag from this cell. Audited.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Cleared }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /home/featured-cell:
    get:
      tags: [system]
      summary: Member. The current homepage-featured cell summary ("This week at Nuru") with descriptive fields, member count and avg engagement, or null.
      responses:
        "200": { description: Featured cell or null }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/rhythm/today:
    get:
      tags: [system]
      summary: Member. Which of prayer/word/reflection the member has completed today (EAT).
      responses:
        "200": { description: "{ prayer, word, reflection }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/rhythm/complete:
    post:
      tags: [system]
      summary: Member. Mark a rhythm (prayer|word|reflection) done for today; idempotent per day. Feeds the streak.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [kind]
              properties:
                kind: { type: string, enum: [prayer, word, reflection] }
      responses:
        "200": { description: "{ prayer, word, reflection }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /admin/media/images/sign:
    post:
      tags: [media]
      summary: Instructor+. Broker Cloudinary signed-upload params for an event/announcement cover or gallery image (client POSTs bytes directly to Cloudinary).
      responses:
        "201": { description: Signed upload params }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/events/series/{id}/homepage:
    parameters:
      - $ref: "#/components/parameters/IdPath"
    post:
      tags: [calendar]
      summary: Admin. Feature this event series on the mobile homepage (single featured at a time; unsets any other).
      responses:
        "200": { description: Featured }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [calendar]
      summary: Admin. Remove this event series from the homepage feature.
      responses:
        "200": { description: Unfeatured }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /home/featured-event:
    get:
      tags: [calendar]
      summary: Member. The current homepage-featured event (cover image + descriptive fields) or null.
      responses:
        "200": { description: Featured event or null }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /admin/announcements/{id}/homepage:
    parameters:
      - $ref: "#/components/parameters/IdPath"
    post:
      tags: [announcements]
      summary: Admin. Feature this announcement on the mobile homepage (single featured at a time; unsets any other).
      responses:
        "200": { description: Featured }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [announcements]
      summary: Admin. Remove this announcement from the homepage feature.
      responses:
        "200": { description: Unfeatured }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/announcements/{id}/video:
    parameters:
      - $ref: "#/components/parameters/IdPath"
    post:
      tags: [announcements]
      summary: Admin. Attach a video (URL) to this announcement.
      responses:
        "200": { description: Video attached }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [announcements]
      summary: Admin. Clear the announcement's video.
      responses:
        "200": { description: Video cleared }
        "404": { $ref: "#/components/responses/NotFound" }
  /home/featured-announcement:
    get:
      tags: [announcements]
      summary: Member. The current homepage-featured announcement (cover image + body) or null.
      responses:
        "200": { description: Featured announcement or null }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /announcements/{id}:
    get:
      tags: [announcements]
      summary: Member. Full detail for one announcement received by the caller (carousel images + body); 404 if not delivered to them.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Announcement detail }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/members:
    get:
      tags: [portal]
      summary: Admin. Congregation-wide member list (search/cell/band/level/gender/programme/country filters, keyset-paged). Each row carries a derived status ("graduated" when the lifecycle flag is set, otherwise the server-computed engagement band) plus gender/city/programme/country_code/age.
      responses:
        "200": { description: Members }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [portal]
      summary: Admin. Add a learner (creates Student + enrollment; optional start_level/start_module_sequence, default L1·M1; optional gender/city/programme/country_code/language/is_baptized). Engagement band is never accepted (server-computed, §1.1). Audited.
      responses:
        "201": { description: Member created }
        "400": { description: Validation failed }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/members/{id}:
    get:
      tags: [portal]
      summary: Admin. Single-member aggregate (identity, placement, engagement band, curriculum/attendance/habit metrics, guardian consent for minors, certificates, badges, recent activity). Reflection/prayer content is never returned (§5.4).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Member profile }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [portal]
      summary: Admin. Edit a member's details (name, contact, gender, city, programme, country, language, baptized, cell reassignment). Audited.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Member updated }
        "409": { $ref: "#/components/responses/Conflict" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/members/{id}/results:
    get:
      tags: [portal]
      summary: Admin. Member results dossier — per-level/per-module best quiz scores + completion, level-exam scores, badges attained, and certificates earned.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Member results }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/members/{id}/enrollment:
    patch:
      tags: [portal]
      summary: Admin. Set a member's starting level + entry module (placement). current_level moves to start_level; the §1.9 hard-lock ceiling and advancement gates still apply. Audited.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Enrollment placement updated }
        "400": { description: Validation failed (unknown level or no published module at that position) }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/members/{id}/graduation:
    patch:
      tags: [portal]
      summary: 'Admin. Mark/unmark a member Graduated ({ graduated: boolean }). A lifecycle flag distinct from the server-computed engagement band (§1.1); when set, the member''s list/profile status surfaces as "graduated". Idempotent. Audited.'
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Graduation flag updated }
        "400": { description: Validation failed }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/audit:
    get:
      tags: [portal]
      summary: SuperAdmin. Append-only audit log viewer (actor/action/entity filters).
      responses:
        "200": { description: Audit entries }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/certificates:
    get:
      tags: [certificates]
      summary: Admin. Issued-certificates register (incl. revocations).
      responses:
        "200": { description: Certificates }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [certificates]
      summary: Admin. Manually issue a certificate (idempotent per user+level). Audited.
      responses:
        "201": { description: Issued }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/certificates/{id}/revoke:
    post:
      tags: [certificates]
      summary: Admin. Revoke a certificate with a required reason; verify() turns invalid. Audited.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Revoked }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/finance/summary:
    get:
      tags: [giving]
      summary: Admin (view). Per-fund settled revenue — this month + all time.
      responses:
        "200": { description: Fund summary }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/finance/transactions:
    get:
      tags: [giving]
      summary: Admin (view). Transactions register (fund/status filters, keyset-paged).
      responses:
        "200": { description: Transactions }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/finance/ledger:
    get:
      tags: [giving]
      summary: Admin (view). Recent balanced double-entry ledger postings.
      responses:
        "200": { description: Ledger entries }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/finance/trend:
    get:
      tags: [giving]
      summary: Admin (view). Settled giving per month for the overview trend (zero-filled).
      parameters:
        - in: query
          name: months
          schema: { type: integer, minimum: 1, maximum: 24, default: 6 }
      responses:
        "200": { description: Monthly settled totals }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/finance/audit:
    get:
      tags: [giving]
      summary: Admin (view). Finance-scoped slice of the append-only audit trail (§5.10).
      parameters:
        - in: query
          name: actor
          schema: { type: string, enum: [All, System, Admin], default: All }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
      responses:
        "200": { description: Finance audit entries }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/finance/transactions/{id}:
    get:
      tags: [giving]
      summary: Admin (view). A single transaction plus its balanced ledger postings.
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Transaction detail }
        "404": { description: Transaction not found }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/finance/config:
    get:
      tags: [giving]
      summary: Admin (view). Read-only config — funds + provider availability (no secrets, §5.6).
      responses:
        "200": { description: Funds and provider availability }
        "403": { $ref: "#/components/responses/ForbiddenScope" }

  # --- Growth domains (Contract Matrix B6) ---
  /gifts/questions:
    get:
      tags: [progress]
      summary: Spiritual-gifts Likert bank (active items, in order). No scoring data leaks.
      responses:
        "200": { description: Questions }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /gifts/assessments:
    post:
      tags: [progress]
      summary: Submit Likert answers; SERVER-scored over the full bank. Idempotent on client_mutation_id.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GiftsSubmission" }
      responses:
        "201": { description: Gift profile (scores + top gifts) }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /me/gifts:
    get:
      tags: [progress]
      summary: My latest gift profile + suggested serving tracks.
      responses:
        "200": { description: Profile + tracks }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/prayers:
    get:
      tags: [progress]
      summary: My prayer journal (private — no leader/admin read path exists).
      responses:
        "200": { description: Entries }
        "401": { $ref: "#/components/responses/Unauthorized" }
    put:
      tags: [progress]
      summary: Create/update a journal entry (client-generated id; LWW; offline-queueable).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PrayerUpsert" }
      responses:
        "200": { description: Upserted }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/prayers/{id}:
    delete:
      tags: [progress]
      summary: Hard-delete a journal entry (privacy); tombstoned to all devices.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Deleted (idempotent) }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/verses:
    get:
      tags: [progress]
      summary: My verse library.
      responses:
        "200": { description: Saved verses }
        "401": { $ref: "#/components/responses/Unauthorized" }
    put:
      tags: [progress]
      summary: Save a verse (dedup per reference+version; offline-queueable).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VerseSave" }
      responses:
        "200": { description: Saved }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/verses/{id}:
    delete:
      tags: [progress]
      summary: Remove a verse from my library.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Deleted (idempotent) }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/notifications:
    get:
      tags: [progress]
      summary: My notification center — recent notifications + unread badge count.
      parameters:
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
      responses:
        "200": { description: Notifications + unread count }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/notifications/read:
    post:
      tags: [progress]
      summary: Mark all (or the given ids) read. Idempotent display state.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                ids: { type: array, minItems: 1, items: { type: string, format: uuid } }
      responses:
        "200": { description: Marked count }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/password:
    post:
      tags: [auth]
      summary: Change my password (verifies the current one; revokes all refresh sessions).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password]
              properties:
                current_password: { type: string }
                new_password: { type: string, minLength: 8 }
      responses:
        "200": { description: Changed }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /me/activity:
    get:
      tags: [auth]
      summary: My recent portal actions (Profile ▸ My Activity), from the audit log.
      responses:
        "200": { description: Activity }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # --- Announcements (Contract Matrix B5) ---
  /admin/announcements:
    get:
      tags: [announcements]
      summary: Admin. List announcements with delivered/open counts.
      parameters:
        - { name: status, in: query, schema: { type: string, enum: [draft, scheduled, sent, cancelled] } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
      responses:
        "200": { description: Announcements }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [announcements]
      summary: Admin. Compose an announcement (draft, or scheduled when scheduled_at is set).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AnnouncementCompose" }
      responses:
        "201": { description: Created }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /admin/announcements/{id}:
    get:
      tags: [announcements]
      summary: Admin. Announcement detail with per-channel delivered/open stats.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Announcement + stats }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [announcements]
      summary: Admin. Edit a draft/scheduled announcement; 409 once sent or cancelled.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AnnouncementCompose" }
      responses:
        "200": { description: Updated }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { $ref: "#/components/responses/Conflict" }
    delete:
      tags: [announcements]
      summary: Admin. Soft-delete an announcement (any status); removes it from lists, the member feed, and the homepage feature.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Deleted }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/announcements/{id}/send:
    post:
      tags: [announcements]
      summary: Admin. Send now — fans out per recipient×channel (idempotent); push/email respect quiet hours.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Fan-out summary }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /admin/announcements/{id}/cancel:
    post:
      tags: [announcements]
      summary: Admin. Cancel a draft/scheduled announcement; 409 once sent.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Cancelled }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { $ref: "#/components/responses/Conflict" }
  /me/announcements:
    get:
      tags: [announcements]
      summary: My in-app (banner) announcements, newest first, unexpired.
      responses:
        "200": { description: Announcements }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /announcements/{id}/open:
    post:
      tags: [announcements]
      summary: Open receipt — stamps opened_at on my deliveries (idempotent).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Receipt recorded }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # --- Growth content (Contract Matrix D5) ---
  /growth/devotional:
    get:
      tags: [progress]
      summary: Today's devotional (audio/video/scripture/body/reflection + the viewer's saved reflection).
      responses:
        "200": { description: Devotional }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /growth/devotional/reflection:
    post:
      tags: [progress]
      summary: Member. Save the devotional reflection (upsert); also marks the Reflection rhythm done for today.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [devotional_id, body]
              properties:
                devotional_id: { type: string, format: uuid }
                body: { type: string }
      responses:
        "200": { description: "{ saved: true }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /growth/memory-verses:
    get:
      tags: [progress]
      summary: Memory-verse library with my mastery status.
      responses:
        "200": { description: Verses }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /growth/memory-verses/practice:
    post:
      tags: [progress]
      summary: Record a type-from-memory practice attempt; mastered at ≥90% match.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [memory_verse_id, match_pct]
              properties:
                memory_verse_id: { type: string, format: uuid }
                match_pct: { type: integer, minimum: 0, maximum: 100 }
      responses:
        "200": { description: Progress }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /growth/plans:
    get:
      tags: [progress]
      summary: Reading plans with my enrollment + progress.
      responses:
        "200": { description: Plans }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /growth/plans/{id}:
    get:
      tags: [progress]
      summary: Reading-plan detail with days and my progress.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Plan }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /growth/plans/{id}/start:
    post:
      tags: [progress]
      summary: Enroll in a reading plan (idempotent).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "201": { description: Enrolled }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /growth/plans/{id}/complete-day:
    post:
      tags: [progress]
      summary: Mark a reading-plan day complete; advances progress.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [day_number]
              properties:
                day_number: { type: integer, minimum: 1 }
      responses:
        "200": { description: Progress }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /growth/segments/{id}/complete:
    post:
      tags: [progress]
      summary: Mark one reading-plan day SEGMENT complete (YouVersion reader); rolls the day up when all are done.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: "{ segment_id, day_number, day_completed, progress }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /growth/resources:
    get:
      tags: [progress]
      summary: Resource library (books / audio / video / articles).
      responses:
        "200": { description: Resources }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /growth/mentor:
    get:
      tags: [progress]
      summary: My discipler (from the relationship tree) + meeting notes.
      responses:
        "200": { description: Mentor }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /home/disciplers:
    get:
      tags: [progress]
      summary: Disciplers/mentors in my congregation (Home "Meet your discipler" carousel).
      responses:
        "200": { description: Disciplers }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /me/scores/word:
    get:
      tags: [progress]
      summary: My Word score (consistency + memorization + breadth), 0–100 with breakdown.
      responses:
        "200": { description: Word score }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # --- Growth-content authoring (Admin+) — every mobile growth element editable ---
  /admin/growth/devotionals:
    get:
      tags: [portal]
      summary: Admin. List all devotionals (incl. unpublished).
      responses: { "200": { description: Devotionals }, "403": { $ref: "#/components/responses/ForbiddenScope" } }
    post:
      tags: [portal]
      summary: Admin. Create a devotional. Audited.
      responses: { "201": { description: Created }, "400": { description: Validation failed }, "403": { $ref: "#/components/responses/ForbiddenScope" } }
  /admin/growth/devotionals/{id}:
    put:
      tags: [portal]
      summary: Admin. Update a devotional. Audited.
      parameters: [{ $ref: "#/components/parameters/IdPath" }]
      responses: { "200": { description: Updated }, "403": { $ref: "#/components/responses/ForbiddenScope" }, "404": { $ref: "#/components/responses/NotFound" } }
    delete:
      tags: [portal]
      summary: Admin. Delete a devotional. Audited.
      parameters: [{ $ref: "#/components/parameters/IdPath" }]
      responses: { "200": { description: Deleted }, "403": { $ref: "#/components/responses/ForbiddenScope" } }
  /admin/growth/memory-verses:
    get:
      tags: [portal]
      summary: Admin. List all memory verses.
      responses: { "200": { description: Verses }, "403": { $ref: "#/components/responses/ForbiddenScope" } }
    post:
      tags: [portal]
      summary: Admin. Create a memory verse. Audited.
      responses: { "201": { description: Created }, "400": { description: Validation failed }, "403": { $ref: "#/components/responses/ForbiddenScope" } }
  /admin/growth/memory-verses/{id}:
    put:
      tags: [portal]
      summary: Admin. Update a memory verse. Audited.
      parameters: [{ $ref: "#/components/parameters/IdPath" }]
      responses: { "200": { description: Updated }, "403": { $ref: "#/components/responses/ForbiddenScope" }, "404": { $ref: "#/components/responses/NotFound" } }
    delete:
      tags: [portal]
      summary: Admin. Delete a memory verse. Audited.
      parameters: [{ $ref: "#/components/parameters/IdPath" }]
      responses: { "200": { description: Deleted }, "403": { $ref: "#/components/responses/ForbiddenScope" } }
  /admin/growth/plans:
    get:
      tags: [portal]
      summary: Admin. List all reading plans (with day counts).
      responses: { "200": { description: Plans }, "403": { $ref: "#/components/responses/ForbiddenScope" } }
    post:
      tags: [portal]
      summary: Admin. Create a reading plan with its days. Audited.
      responses: { "201": { description: Created }, "400": { description: Validation failed }, "403": { $ref: "#/components/responses/ForbiddenScope" } }
  /admin/growth/plans/{id}:
    get:
      tags: [portal]
      summary: Admin. Reading plan with its days.
      parameters: [{ $ref: "#/components/parameters/IdPath" }]
      responses: { "200": { description: Plan }, "403": { $ref: "#/components/responses/ForbiddenScope" }, "404": { $ref: "#/components/responses/NotFound" } }
    put:
      tags: [portal]
      summary: Admin. Update a reading plan (and replace its days when provided). Audited.
      parameters: [{ $ref: "#/components/parameters/IdPath" }]
      responses: { "200": { description: Updated }, "403": { $ref: "#/components/responses/ForbiddenScope" }, "404": { $ref: "#/components/responses/NotFound" } }
    delete:
      tags: [portal]
      summary: Admin. Delete a reading plan. Audited.
      parameters: [{ $ref: "#/components/parameters/IdPath" }]
      responses: { "200": { description: Deleted }, "403": { $ref: "#/components/responses/ForbiddenScope" } }
  /admin/growth/resources:
    get:
      tags: [portal]
      summary: Admin. List all resources.
      responses: { "200": { description: Resources }, "403": { $ref: "#/components/responses/ForbiddenScope" } }
    post:
      tags: [portal]
      summary: Admin. Create a resource. Audited.
      responses: { "201": { description: Created }, "400": { description: Validation failed }, "403": { $ref: "#/components/responses/ForbiddenScope" } }
  /admin/growth/resources/{id}:
    put:
      tags: [portal]
      summary: Admin. Update a resource. Audited.
      parameters: [{ $ref: "#/components/parameters/IdPath" }]
[...]
