openapi: 3.1.0
info:
  title: Nuru Place Pathway API
  version: "1.0.0"
  description: >
    Versioned REST surface over the §2 schema. Every endpoint is stateless,
    authenticated at the gateway, and idempotent wherever it creates state from a
    flaky client (spec §3). This document is the versioned contract validated in
    CI (§1.11, §3.7). The endpoint catalog below is the full v1 surface from §3.3;
    request/response schemas are filled in incrementally as features land — only
    the QuizSubmission/QuizResult slice from §3.7 is fleshed out so far.
servers:
  - url: https://api.nuruplace.org/v1
    description: Production (major version in path; additive-only within a major)

tags:
  - name: auth
  - name: curriculum
  - name: progress
  - name: assessment
  - name: portal
  - name: giving
  - name: certificates
  - name: announcements
  - name: proximity
  - name: radio
  - name: system

security:
  - bearerAuth: []

paths:
  # --- Health (§4.7) ---
  /healthz:
    get:
      tags: [system]
      summary: Liveness probe.
      security: []
      responses:
        "200": { description: Process is up }
  /readyz:
    get:
      tags: [system]
      summary: Readiness probe (checks database and, when configured, Redis reachability).
      security: []
      responses:
        "200": { description: Ready }
        "503": { description: A dependency is unavailable }
  /metrics:
    get:
      tags: [system]
      summary: RED-style request metrics snapshot (count, errors, latency by status class).
      security: []
      responses:
        "200": { description: Metrics snapshot }

  # --- Authentication & identity (§3.3) ---
  /auth/oauth/{provider}:
    post:
      tags: [auth]
      summary: Exchange an IdP authorization code for our tokens; provisions on first login.
      security: []
      parameters:
        - { name: provider, in: path, required: true, schema: { type: string, enum: [kingschat, google, apple] } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OAuthExchange" }
      responses:
        "200":
          description: Token pair issued
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenPair" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }
  /auth/login:
    post:
      tags: [auth]
      summary: Email + password sign-in (argon2id verify). Generic error on bad credentials; 403 if suspended or (under scope=admin) a member signs into a staff console; 429 if locked after repeated failures.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
                scope:
                  type: string
                  enum: [admin]
                  description: Sent by the admin consoles (web portal + iPad). Under this scope a self-registered member (Student role) is refused with 403; the member app omits it.
      responses:
        "200":
          description: A token pair, OR a 2FA challenge when the account has a second factor enabled.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LoginResult" }
        "400": { description: Validation failed }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "429": { description: Account temporarily locked after too many failed attempts }
  /auth/login/mfa:
    post:
      tags: [auth]
      summary: Complete a 2FA login — exchange the challenge token + a TOTP/recovery code for a session.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MfaLoginComplete" }
      responses:
        "200":
          description: Access + refresh pair
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenPair" }
        "400": { description: Validation failed }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /auth/register:
    post:
      tags: [auth]
      summary: Self-service sign-up; provisions a Student and mints a session (auto sign-in).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [full_name, email, password]
              properties:
                full_name: { type: string, maxLength: 255 }
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
      responses:
        "201":
          description: Account created; access + refresh pair issued
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenPair" }
        "400": { description: Validation failed }
        "409": { $ref: "#/components/responses/Conflict" }
  /auth/password/forgot:
    post:
      tags: [auth]
      summary: Request a password-reset link. Always 200 (no account enumeration).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "200":
          description: Reset requested (link delivered if the account exists)
          content:
            application/json:
              schema:
                type: object
                required: [sent]
                properties:
                  sent: { type: boolean }
                  dev_token: { type: string, description: "Non-production only: the raw reset token, for testing." }
  /auth/password/reset:
    post:
      tags: [auth]
      summary: Consume a reset token and set a new password; revokes all sessions.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, new_password]
              properties:
                token: { type: string }
                new_password: { type: string, minLength: 8 }
      responses:
        "200":
          description: Password reset
          content:
            application/json:
              schema:
                type: object
                required: [reset]
                properties:
                  reset: { type: boolean }
        "400": { description: Validation failed }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /auth/token/refresh:
    post:
      tags: [auth]
      summary: Rotate refresh token; reuse detection revokes the family.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RefreshRequest" }
      responses:
        "200":
          description: New access + refresh pair
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenPair" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /auth/logout:
    post:
      tags: [auth]
      summary: Revoke the current refresh-token family.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RefreshRequest" }
      responses:
        "204": { description: Logged out }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /auth/dev-login:
    post:
      tags: [auth]
      summary: DEV ONLY. Mint a session for a seeded user by email/user_id. 404 in production (never mounted).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                user_id: { type: string, format: uuid }
      responses:
        "200":
          description: Token pair issued
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenPair" }
        "404": { $ref: "#/components/responses/NotFound" }
  /auth/mfa/enroll:
    post:
      tags: [auth]
      summary: Begin TOTP enrollment; returns an otpauth URI for an authenticator app (§5.3).
      responses:
        "201":
          description: Enrollment started (activates on first verify)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MfaEnroll" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /auth/mfa/verify:
    post:
      tags: [auth]
      summary: Verify a TOTP code; returns an MFA-elevated access token for step-up (§5.3).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MfaVerify" }
      responses:
        "200":
          description: MFA-elevated access token (plus one-time recovery codes on first enable)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MfaElevation" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /auth/mfa/disable:
    post:
      tags: [auth]
      summary: Turn 2FA off — requires a current TOTP or recovery code.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MfaDisable" }
      responses:
        "200":
          description: 2FA disabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  mfa_enabled: { type: boolean, enum: [false] }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me:
    get:
      tags: [auth]
      summary: Current user profile + enrollment summary + active level.
      responses:
        "200":
          description: Profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeProfile" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    patch:
      tags: [auth]
      summary: Update mutable profile fields with row_version check.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProfileUpdate" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeProfile" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/Conflict" }
  /me/avatar:
    post:
      tags: [auth]
      summary: Upload my profile photo (multipart image, field 'file'); stores + returns avatar_url.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary }
      responses:
        "201": { description: Avatar set }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/media/audio:
    post:
      tags: [auth]
      summary: Upload a member voice note (multipart audio, field 'file', 5 MB cap); returns { url }. Duration/waveform travel in the domain payload (prayer wall audio_waveform / chat attachment_meta), not here.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary }
      responses:
        "201": { description: Voice note stored }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/media/image:
    post:
      tags: [auth]
      summary: Upload a member post image (multipart image, field 'file', 5 MB cap); returns { url }. Generic attachment used by composers as image_url (e.g. event wall "Hype the room"). Not stored on the user.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary }
      responses:
        "201": { description: "{ url }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/letters:
    get:
      tags: [progress]
      summary: My Sunday Letters (AI-composed weekly pastoral letters), newest first.
      responses:
        "200": { description: "{ data: [{ letter_id, week_of, body, scripture_ref, created_at, read_at }] }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/letters/latest:
    get:
      tags: [progress]
      summary: My most recent Sunday Letter (or letter:null before the first one).
      responses:
        "200": { description: "{ letter: {...} | null }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/letters/{id}/read:
    post:
      tags: [progress]
      summary: Mark one of my Sunday Letters read (idempotent).
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200": { description: "{ letter_id, read_at }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: Not my letter }
  /me/ai:
    get:
      tags: [auth]
      summary: My AI-personalization consent state.
      responses:
        "200": { description: "{ opt_out: boolean }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/ai/consent:
    post:
      tags: [auth]
      summary: Set my AI-personalization consent. Opting out stops the model from ever reading my written content (reflections/posts), deletes my story, and pauses Sunday Letters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [opt_out]
              properties:
                opt_out: { type: boolean }
      responses:
        "200": { description: "{ opt_out }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /admin/intelligence/reindex:
    post:
      tags: [admin]
      summary: Admin. Rebuild the AI content-grounding index over curriculum/plans/devotionals.
      responses:
        "200": { description: "{ sources, chunks }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /admin/intelligence/stories/rebuild:
    post:
      tags: [admin]
      summary: Admin. Rebuild Member Stories (all active members, or one user_id).
      responses:
        "200": { description: "{ rebuilt }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /admin/intelligence/letters/run:
    post:
      tags: [admin]
      summary: Admin. Run the Sunday Letter batch now (all eligible members, or one user_id). Idempotent per user+week.
      responses:
        "200": { description: "{ week_of, written, skipped }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /admin/intelligence/signals:
    get:
      tags: [admin]
      summary: Instructor+. Care signals for MY flock (cells I lead + my disciples; Admin+ sees all) — drift/emotion/crisis, newest first.
      parameters:
        - { name: since_days, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 60, default: 14 } }
      responses:
        "200": { description: "{ data: [{ signal_id, user_id, member_name, kind, severity, summary, source, created_at, acknowledged_at }] }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /admin/intelligence/signals/{id}/ack:
    post:
      tags: [admin]
      summary: Instructor+. Acknowledge a signal in my flock (idempotent; 404 outside my scope).
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200": { description: "{ signal_id, acknowledged_at }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: Not in my flock }
  /admin/intelligence/flock-brief:
    get:
      tags: [admin]
      summary: Instructor+. My latest weekly Flock Brief (or brief:null before the first).
      responses:
        "200": { description: "{ brief: { brief_id, week_of, body, created_at } | null }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /admin/intelligence/signals/scan:
    post:
      tags: [admin]
      summary: Admin. Run the nightly Shepherd's Pulse scan now (drift rules + emotion/crisis reads). Idempotent per user+kind+day.
      responses:
        "200": { description: "{ drift, read, flagged, crises }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /modules/{id}/explain:
    get:
      tags: [progress]
      summary: The lesson rendered differently (style = simple | swahili | story). Cached per module+style; §1.9 gated like the lesson itself.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: style, in: query, required: false, schema: { type: string, enum: [simple, swahili, story], default: simple } }
      responses:
        "200": { description: "{ style, body, cached }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { description: GATE_LOCKED }
  /modules/{id}/quiz/remediation:
    post:
      tags: [progress]
      summary: '"Review with Nuru" for my latest FAILED quiz attempt on this module — re-teaches missed concepts from the lesson (never the answer key). Cached per attempt.'
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200": { description: "{ attempt_id, body, missed, cached }" }
        "400": { description: No failed attempt to review }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /growth/memory-verses/due:
    get:
      tags: [growth]
      summary: My memory verses due for spaced-repetition review (weakest + stalest first, max 5).
      responses:
        "200": { description: "{ data: [{ memory_verse_id, reference, verse_text, best_match_pct, status, days_since }] }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /admin/intelligence/flock-brief/run:
    post:
      tags: [admin]
      summary: Admin. Compose this week's Flock Briefs for every leader now. Idempotent per leader+week.
      responses:
        "200": { description: "{ week_of, written, skipped }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /modules/{id}/voice-note:
    post:
      tags: [curriculum]
      summary: Instructor+. Leave (or re-record over) THIS congregation's voice note on a module — "a word from your discipler" members hear atop the lesson. Audio uploads first via POST /me/media/audio.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [audio_url, duration_sec]
              properties:
                audio_url: { type: string }
                duration_sec: { type: integer, minimum: 1, maximum: 300 }
                waveform: { type: array, items: { type: integer } }
      responses:
        "201": { description: "{ note_id }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    delete:
      tags: [curriculum]
      summary: Instructor+. Remove the congregation's voice note (author or Admin+).
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200": { description: "{ ok }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /community/presence:
    get:
      tags: [community]
      summary: Studying together, apart — how many of my cell (or congregation when cell-less) opened a lesson in the last 7 days, with up to three first names.
      responses:
        "200": { description: "{ count, names, scope }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /modules/{id}/footprints:
    get:
      tags: [community]
      summary: "Footprints on the trail — cell-mates (congregation when cell-less) who already completed this module: up to five faces, when they finished, and the total. The member is never the first to walk alone."
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200": { description: "{ count, scope, footprints: [{ first_name, avatar_url, completed_at }] }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/walk:
    get:
      tags: [community]
      summary: "Your Walk — the member's whole journey as one descending thread: began the pathway, modules finished, reflections written (140-char excerpts), levels passed, certificates, verses mastered, plans completed, badges. Real rows and timestamps, no AI, capped at 80."
      responses:
        "200": { description: "{ data: [{ kind, title, detail, quote, occurred_at }] }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /home/echo:
    get:
      tags: [growth]
      summary: Today's companion echo — ONE per member per EAT day, stable across refetches, AI-free. Priorities — welcome_back (≥4 quiet days, 7-day cooldown), reflection_echo (the member's own words from 6–10 days ago, each echoes once ever), anniversary (a module finished exactly 30 days ago). Null when nothing true and specific exists ("specificity or silence").
      responses:
        "200": { description: "{ echo: { kind, body, quote, ref } | null }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /home/liturgy:
    get:
      tags: [growth]
      summary: The liturgy line for RIGHT NOW (EAT clock) — part (morning|midday|evening|night), church season, Sunday flag. AI-composed once per congregation per day; deterministic fallback when the model is down.
      responses:
        "200": { description: "{ part, season, is_sunday, line, scripture_ref }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /community/moments:
    get:
      tags: [community]
      summary: My congregation's recent celebrations (14 days) — server-detected milestones with blessing counts and my own blessing.
      responses:
        "200": { description: "{ data: [{ moment_id, user_id, full_name, avatar_url, kind, title, occurred_at, amen_count, heart_count, fire_count, my_blessing }] }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /community/moments/{id}/bless:
    post:
      tags: [community]
      summary: One-tap blessing on a celebration (kind = amen | heart | fire). One per member per moment; repeat switches kind. Congregation-scoped (403 outside).
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [kind]
              properties:
                kind: { type: string, enum: [amen, heart, fire] }
      responses:
        "200": { description: "{ blessed, kind }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: FORBIDDEN_SCOPE — outside my congregation }
  /admin/intelligence/liturgy/run:
    post:
      tags: [admin]
      summary: Admin. Compose today's liturgy for every congregation now. Cached per congregation+day.
      responses:
        "200": { description: "{ composed }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /admin/intelligence/moments/scan:
    post:
      tags: [admin]
      summary: Admin. Detect fresh celebration moments now (module/level/verse/plan). Idempotent — replays insert nothing.
      responses:
        "200": { description: "{ inserted }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/onboarding:
    post:
      tags: [auth]
      summary: Submit baseline intake + literacy quiz; instantiates enrollment at L1·M1.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OnboardingIntake" }
      responses:
        "201": { description: Enrolled }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /me/devices:
    post:
      tags: [auth]
      summary: Register a device + push token; returns a device_id for sync cursors.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DeviceRegister" }
      responses:
        "201": { description: Device registered }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # --- Proximity / coarse-location pairing (parity gap #4, privacy-first) ---
  # Coarse only: the server derives a 6-char geohash (~1.2 km) and DISCARDS the raw
  # coordinates; no geohash/coords are ever returned to a client.
  /me/location:
    post:
      tags: [proximity]
      summary: >
        Opt in / refresh coarse location. Accepts approximate lat/lng; the server
        stores ONLY a 6-char geohash and discards the coordinates. Minors require an
        active guardian location_sharing consent, else 403 CONSENT_REQUIRED.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [lat, lng]
              properties:
                lat: { type: number, minimum: -90, maximum: 90 }
                lng: { type: number, minimum: -180, maximum: 180 }
      responses:
        "200":
          description: Stored
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties: { ok: { type: boolean, enum: [true] } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    delete:
      tags: [proximity]
      summary: Opt out — erase the member's stored coarse location immediately.
      responses:
        "200":
          description: Erased
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties: { ok: { type: boolean, enum: [true] } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /admin/members/{id}/location-consent:
    post:
      tags: [proximity]
      summary: >
        Guardian grants location_sharing consent for a minor (audited). Distinct
        from the onboarding consent; separately revocable. Gated by members:proximity.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [guardian_name, relationship, consent_text_version]
              properties:
                guardian_name: { type: string, minLength: 1, maxLength: 255 }
                relationship: { type: string, minLength: 1, maxLength: 60 }
                consent_text_version: { type: string, minLength: 1, maxLength: 20 }
      responses:
        "201":
          description: Consent recorded
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties: { ok: { type: boolean, enum: [true] } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/Unprocessable" }
    delete:
      tags: [proximity]
      summary: >
        Guardian revokes a minor's location_sharing consent (audited). Also deletes
        the minor's stored coarse location immediately. Gated by members:proximity.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: Revoked + location erased
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties: { ok: { type: boolean, enum: [true] } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/members/proximity:
    get:
      tags: [proximity]
      summary: >
        Coarse pairing suggestions — eligible opted-in members clustered by approximate
        distance. Gated by members:proximity. Adults visible to coach tier; minors
        only to the coarse Admin role. NEVER returns geohash or coordinates.
      parameters:
        - name: radius_km
          in: query
          required: false
          schema: { type: number, minimum: 1, maximum: 50, default: 10 }
        - name: group_by
          in: query
          required: false
          description: radius (default) clusters by distance; city snaps to the nearest gazetteer town (offline, coarse); country groups by the congregation's country.
          schema: { type: string, enum: [radius, city, country], default: radius }
      responses:
        "200":
          description: Clusters
          content:
            application/json:
              schema:
                type: object
                required: [clusters]
                properties:
                  clusters:
                    type: array
                    items:
                      type: object
                      required: [area, member_count, approx_radius_km, members]
                      properties:
                        area: { type: string, description: Coarse cluster label (no precise point) }
                        member_count: { type: integer }
                        approx_radius_km: { type: number }
                        members:
                          type: array
                          items:
                            type: object
                            required: [user_id, full_name, is_minor, cell_group_id]
                            properties:
                              user_id: { type: string, format: uuid }
                              full_name: { type: string }
                              is_minor: { type: boolean }
                              cell_group_id: { type: [string, "null"], format: uuid }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }

  # --- Curriculum & content (§3.3) ---
  /levels:
    get:
      tags: [curriculum]
      summary: The discipleship levels with themes and pass marks.
      responses:
        "200": { description: Levels }
  /me/pathway:
    get:
      tags: [curriculum]
      summary: >-
        Per-member pathway summary; each level with module counts and status
        (completed | active | awaiting_review | locked). A level whose exam is passed
        but the discipler has not yet ushered reports status 'awaiting_review' and
        awaiting_review:true; the next level stays 'locked' until ushered.
      responses:
        "200": { description: "Pathway summary — { current_level, levels: [{ level_number, title, theme, description, total_modules, completed_modules, minutes, status, awaiting_review }] }" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /levels/{n}/modules:
    get:
      tags: [curriculum]
      summary: Modules for a level; locked ones return metadata + locked:true.
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Modules }
  /modules/{id}:
    get:
      tags: [curriculum]
      summary: Full lesson content + signed media URLs with real durations, content_pages, and the member's completion summary — completed, completed_at, best_score (highest passing quiz score, null when quizless/never passed) — so a finished module renders as a clean reading room.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Module body
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleBody" }
        "409": { $ref: "#/components/responses/GateLocked" }
  /modules/{id}/engagement:
    get:
      tags: [curriculum]
      summary: The member's accumulated engagement for a module (zeros / page 1 when none). Gated like the module body (§1.9).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Engagement totals
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleEngagement" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/GateLocked" }
    post:
      tags: [curriculum]
      summary: Engagement heartbeat — accumulate reading/audio/video second deltas (each server-capped at 600) and overwrite last_page when provided. Gated like the module body (§1.9).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reading_seconds: { type: integer, minimum: 0, maximum: 600 }
                audio_seconds: { type: integer, minimum: 0, maximum: 600 }
                video_seconds: { type: integer, minimum: 0, maximum: 600 }
                last_page: { type: integer, minimum: 1 }
      responses:
        "200":
          description: Updated totals
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleEngagement" }
        "400": { description: Validation failed }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/GateLocked" }
  /scripture:
    get:
      tags: [curriculum]
      summary: Sanitised YouVersion passage by ref + version + language.
      parameters:
        - { name: ref, in: query, required: true, schema: { type: string } }
        - { name: version, in: query, schema: { type: string } }
        - { name: language, in: query, schema: { type: string } }
      responses:
        "200":
          description: Passage
          content:
            application/json:
              schema:
                type: object
                required: [reference, text]
                properties:
                  reference: { type: string }
                  version: { type: string }
                  language: { type: string }
                  text: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }
  # --- Admin curriculum CMS (Admin/SuperAdmin only, §5.4) ---
  /admin/levels:
    get:
      tags: [curriculum]
      summary: Admin. All levels with per-status module counts.
      responses:
        "200": { description: Levels }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [curriculum]
      summary: Admin. Create the next contiguous level.
      responses:
        "201": { description: Created }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/levels/{n}:
    put:
      tags: [curriculum]
      summary: Admin. Update a level's title/theme/pass mark.
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Updated }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/levels/{n}/exam:
    put:
      tags: [curriculum]
      summary: Admin. Configure the level exit exam (pass mark, question count, reveal/shuffle flags, and the review→publish state).
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer, minimum: 1 } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [required_exam_pass_mark]
              properties:
                required_exam_pass_mark: { type: number, minimum: 0, maximum: 100 }
                exam_question_count: { type: [integer, "null"], minimum: 1 }
                exam_show_answers: { type: boolean }
                exam_show_score: { type: boolean }
                exam_shuffle: { type: boolean, description: Randomize answer-choice order at delivery (default true). }
                exam_status: { type: string, enum: [review, published], description: "Publish gate — the exam is member-visible/takeable only when 'published'." }
      responses:
        "200": { description: Configured }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/levels/{n}/modules:
    get:
      tags: [curriculum]
      summary: Admin. All modules for a level incl. drafts/archived, in sequence.
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Modules }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/modules:
    post:
      tags: [curriculum]
      summary: Admin. Create a module (auto-appended sequence); 409 on sequence clash.
      responses:
        "201": { description: Created }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /admin/modules/{id}:
    get:
      tags: [curriculum]
      summary: Admin. Full module record incl. content + current version + derived content_pages (page-break split, same as the member read).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Module }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [curriculum]
      summary: Admin. Edit any field (incl. media durations + admin audio); content edits version the module (optimistic-concurrency).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ModuleUpdate" }
      responses:
        "200": { description: Updated }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { $ref: "#/components/responses/Conflict" }
    delete:
      tags: [curriculum]
      summary: Admin. Archive (soft) a module; never hard-deleted.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Archived }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/modules/{id}/publish:
    post:
      tags: [curriculum]
      summary: Admin. Publish with validation (quiz needs questions; sequence stays contiguous).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Published }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /admin/modules/{id}/unpublish:
    post:
      tags: [curriculum]
      summary: Admin. Return a module to draft (immediately hidden from students).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Unpublished }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/modules/{id}/reorder:
    post:
      tags: [curriculum]
      summary: Admin. Move a module within its level; re-sequences atomically.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Reordered }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/modules/{id}/versions:
    get:
      tags: [curriculum]
      summary: Admin. Module version history (who/when/version).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Versions }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/modules/{id}/revert:
    post:
      tags: [curriculum]
      summary: Admin. Restore a prior version as a new version.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Reverted }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/modules/{id}/questions:
    get:
      tags: [curriculum]
      summary: Admin. Question bank for a module (active + drafts; archived excluded).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Questions }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [curriculum]
      summary: Admin. Add question-bank items (per-type validation).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "201": { description: Saved }
        "400": { description: Validation failed }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/questions/{qid}:
    put:
      tags: [curriculum]
      summary: Admin. Edit a question (per-type validation on the merged result).
      parameters:
        - { name: qid, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200": { description: Updated }
        "400": { description: Validation failed }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    delete:
      tags: [curriculum]
      summary: Admin. Archive (soft-delete) a question; attempts keep their FK.
      parameters:
        - { name: qid, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200": { description: Deleted }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/preview:
    post:
      tags: [curriculum]
      summary: Admin. Render authored Markdown to sanitized HTML for preview.
      responses:
        "200": { description: Sanitized HTML }
        "403": { $ref: "#/components/responses/ForbiddenScope" }

  # --- System reference data (Final Pathway Portal "System" section) ---
  /admin/countries:
    get:
      tags: [system]
      summary: Admin. List countries (reference data) for the System section + dashboard counts.
      responses:
        "200": { description: Countries }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [system]
      summary: Admin. Add a country (reference data).
      responses:
        "201": { description: Created }
        "409": { $ref: "#/components/responses/Conflict" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/countries/{code}:
    put:
      tags: [system]
      summary: Admin. Update a country (incl. enable/disable).
      parameters: [{ name: code, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: Updated }
        "404": { $ref: "#/components/responses/NotFound" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/languages:
    get:
      tags: [system]
      summary: Admin. List languages (reference data) for the System section + dashboard counts.
      responses:
        "200": { description: Languages }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [system]
      summary: Admin. Add a language (reference data).
      responses:
        "201": { description: Created }
        "409": { $ref: "#/components/responses/Conflict" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/languages/{code}:
    put:
      tags: [system]
      summary: Admin. Update a language (incl. default + coverage + status).
      parameters: [{ name: code, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: Updated }
        "404": { $ref: "#/components/responses/NotFound" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    delete:
      tags: [system]
      summary: Admin. Remove a non-default language.
      parameters: [{ name: code, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: Deleted }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/congregations:
    get:
      tags: [system]
      summary: Admin. List congregations (branches/assemblies) with cell + member counts.
      responses:
        "200": { description: Congregations }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [system]
      summary: Admin. Register a congregation (name, country, timezone).
      responses:
        "201": { description: Created }
        "409": { $ref: "#/components/responses/Conflict" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/congregations/{id}:
    put:
      tags: [system]
      summary: Admin. Update a congregation.
      parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      responses:
        "200": { description: Updated }
        "404": { $ref: "#/components/responses/NotFound" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    delete:
      tags: [system]
      summary: Admin. Remove a congregation that has no cells or members.
      parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      responses:
        "200": { description: Deleted }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/roles:
    get:
      tags: [system]
      summary: RBAC. List roles with permission matrix + assigned-user counts (rolesAdmin:view, §5.4).
      responses:
        "200": { description: Roles }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [system]
      summary: RBAC. Create a custom role (optionally copy permissions from another role) (rolesAdmin:create).
      responses:
        "201": { description: Created }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/roles/{key}:
    put:
      tags: [system]
      summary: RBAC. Update a role's name/description/status (rolesAdmin:edit).
      parameters: [{ name: key, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: Updated }
        "404": { $ref: "#/components/responses/NotFound" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    delete:
      tags: [system]
      summary: RBAC. Delete a custom role (built-in roles are protected) (rolesAdmin:delete).
      parameters: [{ name: key, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: Deleted }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/roles/{key}/permissions:
    put:
      tags: [system]
      summary: RBAC. Replace a role's permission matrix (Super Admin is always full) (rolesAdmin:edit).
      parameters: [{ name: key, in: path, required: true, schema: { type: string } }]
      responses:
        "200": { description: Permissions set }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/users:
    get:
      tags: [system]
      summary: RBAC. List portal accounts with assigned roles, country, language and status (users:view, §5.4).
      responses:
        "200": { description: Users }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [system]
      summary: RBAC. Create a portal account (argon2 password, role assignments) (users:create).
      responses:
        "201": { description: Created }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/users/{id}:
    put:
      tags: [system]
      summary: RBAC. Update a portal account (details, roles, status, 2FA, optional new password) (users:edit).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Updated }
        "404": { $ref: "#/components/responses/NotFound" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    delete:
      tags: [system]
      summary: RBAC. Soft-delete a portal account (cannot delete your own) (users:delete).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Deleted }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/users/{id}/permissions:
    get:
      tags: [system]
      summary: RBAC. A user's role-derived permissions, direct per-user grants, and their effective union (users:view, §5.4).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Permissions
          content:
            application/json:
              schema:
                type: object
                required: [user_id, bridged, from_roles, direct, effective]
                properties:
                  user_id: { type: string, format: uuid }
                  bridged: { type: boolean, description: True for a legacy SuperAdmin/Admin (full access via the bridge). }
                  from_roles: { type: array, items: { $ref: "#/components/schemas/Permission" } }
                  direct: { type: array, items: { $ref: "#/components/schemas/Permission" } }
                  effective: { type: array, items: { $ref: "#/components/schemas/Permission" } }
        "404": { $ref: "#/components/responses/NotFound" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    put:
      tags: [system]
      summary: RBAC. Replace a user's direct per-user permission grants (layered on top of role grants; role grants untouched) (users:edit).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [permissions]
              properties:
                permissions: { type: array, items: { $ref: "#/components/schemas/Permission" } }
      responses:
        "200": { description: Direct grants set }
        "404": { $ref: "#/components/responses/NotFound" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }

  # --- Progress, assessment & reflections (§3.3) ---
  /modules/{id}/complete:
    post:
      tags: [progress]
      summary: Mark module complete (idempotent via client_mutation_id); re-evaluates gating.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Completed }
        "409": { $ref: "#/components/responses/GateLocked" }
  /modules/{id}/quiz:
    get:
      tags: [assessment]
      summary: Assemble a randomised quiz from the module bank (no answers returned).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Served question set
          content:
            application/json:
              schema: { $ref: "#/components/schemas/QuizAssembly" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/GateLocked" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /modules/{id}/quiz/attempts:
    post:
      tags: [assessment]
      summary: Submit a quiz attempt
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/QuizSubmission" }
      responses:
        "200":
          description: Scored
          content:
            application/json:
              schema: { $ref: "#/components/schemas/QuizResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/GateLocked" }
  /levels/{n}/exam:
    get:
      tags: [assessment]
      summary: Assemble the level exit exam from the level's active question pool.
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer } }
      responses:
        "200":
          description: Served exam question set
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExamAssembly" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/GateLocked" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /levels/{n}/exam/attempts:
    post:
      tags: [assessment]
      summary: Submit the level exit exam; ≥ pass mark required to proceed.
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/QuizSubmission" }
      responses:
        "200":
          description: Scored
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExamResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/GateLocked" }
  /levels/{n}/reflection:
    post:
      tags: [assessment]
      summary: Submit the descriptive reflection; enqueues to the review queue.
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReflectionSubmit" }
      responses:
        "201":
          description: Enqueued
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReflectionReview" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/GateLocked" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /events/{id}/attendance:
    post:
      tags: [progress]
      summary: Record a QR check-in (idempotent via client_scan_id); validates the scan token.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [client_scan_id, scan_token]
              properties:
                client_scan_id: { type: string, format: uuid }
                scan_token: { type: string }
      responses:
        "201":
          description: Checked in
          content:
            application/json:
              schema:
                type: object
                required: [attendance_id, duplicate]
                properties:
                  attendance_id: { type: string, format: uuid }
                  duplicate: { type: boolean }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }

  # --- Multiplier / admin portal (§3.3) ---
  /cohorts/{cell_id}/members:
    get:
      tags: [portal]
      summary: Cohort members sorted by e_score asc; scoped to caller's leader_assignments.
      parameters:
        - { name: cell_id, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: band, in: query, schema: { type: string, enum: [thriving, steady, watch, at_risk] } }
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Cohort page (ascending by e_score)
          content:
            application/json:
              schema:
                type: object
                required: [data, next_cursor]
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/EngagementBreakdown" } }
                  next_cursor: { type: [string, "null"] }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /members/{id}/engagement:
    get:
      tags: [portal]
      summary: A member's Hᵢ/Cᵢ/Aᵢ breakdown + recent signal history.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Breakdown
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EngagementBreakdown" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /reviews:
    get:
      tags: [portal]
      summary: The reflection-review queue for the caller's scope.
      parameters:
        - { name: state, in: query, schema: { type: string, enum: [pending, approved, rejected] } }
      responses:
        "200":
          description: Queue
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/ReviewQueueItem" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /reviews/{id}/decision:
    post:
      tags: [portal]
      summary: Approve/reject a reflection; approval flips the level and triggers certificate issuance.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReviewDecision" }
      responses:
        "200":
          description: Decision recorded
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReviewDecisionResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { $ref: "#/components/responses/Conflict" }
  /reviews/levels:
    get:
      tags: [portal]
      summary: >-
        Instructor+. Pending level advancements for members the discipler leads (cell-scoped,
        §5.4). Passing a level exam records a pending advancement; ushering advances the level.
      responses:
        "200":
          description: Pending advancements awaiting the discipler
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required: [id, user_id, member_name, level_number, exam_score, created_at]
                      properties:
                        id: { type: string, format: uuid }
                        user_id: { type: string, format: uuid }
                        member_name: { type: string }
                        level_number: { type: integer }
                        exam_score: { type: [number, "null"] }
                        created_at: { type: string, format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /reviews/levels/{id}/usher:
    post:
      tags: [portal]
      summary: >-
        Instructor+. Usher a member into the next level — marks the advancement ushered,
        advances current_level to N+1 (idempotent), and notifies the member. Cell-scoped (§5.4).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                note: { type: string, maxLength: 2000 }
      responses:
        "200":
          description: Ushered
          content:
            application/json:
              schema:
                type: object
                required: [id, status, advanced, new_level]
                properties:
                  id: { type: string, format: uuid }
                  status: { type: string, enum: [ushered] }
                  advanced: { type: boolean }
                  new_level: { type: [integer, "null"] }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /relationships:
    post:
      tags: [portal]
      summary: Log a multiplier→disciple edge in the relationship tree.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [disciple_id]
              properties:
                disciple_id: { type: string, format: uuid }
                multiplier_id: { type: string, format: uuid, description: Admin-only; defaults to the caller }
      responses:
        "201":
          description: Edge created
          content:
            application/json:
              schema: { type: object, required: [tree_id], properties: { tree_id: { type: string, format: uuid } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { $ref: "#/components/responses/Conflict" }
  /members/{id}/milestones:
    patch:
      tags: [portal]
      summary: Record external milestones (water baptism verified, etc.).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_baptized: { type: boolean }
                year_of_salvation: { type: [integer, "null"] }
      responses:
        "200": { description: Updated }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }

  # --- Giving, products & certificates (§3.3) ---
  /giving/intents:
    post:
      tags: [giving]
      summary: Create a payment intent (card via Stripe → client secret; mpesa/airtel → STK push). Idempotent.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GivingIntentRequest" }
      responses:
        "201":
          description: Intent created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GivingIntentResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }
  /giving/schedules:
    post:
      tags: [giving]
      summary: Create a recurring giving schedule (weekly/monthly). The SERVER charges each cycle; managed online-only (money never queues offline).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GivingScheduleCreate" }
      responses:
        "201": { description: Schedule created }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/Unprocessable" }
    get:
      tags: [giving]
      summary: My recurring giving schedules.
      responses:
        "200": { description: Schedules }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /giving/schedules/{id}/cancel:
    post:
      tags: [giving]
      summary: Cancel an active schedule (idempotent; 404 once cancelled).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Cancelled }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /giving/history:
    get:
      tags: [giving]
      summary: The caller's own giving/purchase ledger.
      responses:
        "200":
          description: Ledger
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/GivingRecord" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /giving/transactions/{id}:
    get:
      tags: [giving]
      summary: Full detail for one of the caller's gifts, including the ledger trail.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: Gift detail
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GivingDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /giving/transactions/{id}/receipt.pdf:
    get:
      tags: [giving]
      summary: One of the caller's gifts as a downloadable receipt PDF.
      description: >
        Rendered server-side and opened in the OS browser/viewer. Accepts the
        access token either as a Bearer header or a `token` query parameter.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: token, in: query, required: false, schema: { type: string } }
      responses:
        "200": { description: "application/pdf receipt", content: { application/pdf: { schema: { type: string, format: binary } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /giving/statement.pdf:
    get:
      tags: [giving]
      summary: The caller's giving statement as a downloadable PDF.
      description: >
        Rendered server-side and opened in the OS browser/viewer. Accepts the
        access token either as a Bearer header or a `token` query parameter
        (the browser can't attach an Authorization header).
      parameters:
        - { name: token, in: query, required: false, schema: { type: string } }
      responses:
        "200":
          description: PDF document
          content:
            application/pdf:
              schema: { type: string, format: binary }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /products:
    get:
      tags: [giving]
      summary: Purchasable media catalogue.
      responses:
        "200":
          description: Products
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required: [product_id, title, price_minor, currency]
                      properties:
                        product_id: { type: string, format: uuid }
                        title: { type: string }
                        price_minor: { type: integer, format: int64 }
                        currency: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /products/{id}/purchase:
    post:
      tags: [giving]
      summary: Buy media; on success grants access via purchases.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "201":
          description: Purchase started (access granted on the webhook)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GivingIntentResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
  /certificates:
    get:
      tags: [certificates]
      summary: The caller's issued certificates with download URLs.
      responses:
        "200":
          description: Certificates
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/Certificate" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /verify/{code}:
    get:
      tags: [certificates]
      summary: Public. Verify a certificate by its printed code.
      security: []
      parameters:
        - { name: code, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Issuance facts + validity
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CertificateVerification" }
        "404": { $ref: "#/components/responses/NotFound" }

  # --- Media (§4.5) ---
  /media/url:
    get:
      tags: [system]
      summary: Broker a short-lived signed delivery URL for an object key.
      parameters:
        - { name: key, in: query, required: true, schema: { type: string } }
      responses:
        "200":
          description: Signed URL
          content:
            application/json:
              schema:
                type: object
                required: [url, expires_at]
                properties:
                  url: { type: string, format: uri }
                  expires_at: { type: string, format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  /media/certificates/{code}:
    get:
      tags: [certificates]
      summary: Download a certificate PDF by verification code (owner or Instructor+ only).
      parameters:
        - { name: code, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: The rendered certificate PDF (attachment).
          content:
            application/pdf:
              schema: { type: string, format: binary }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }

  # --- Video pipeline (Features v2 §V) ---
  /media/{id}/manifest:
    get:
      tags: [system]
      summary: Signed, expiring HLS master-manifest URL (gated like lesson content).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Signed manifest URL }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/GateLocked" }
  /media/{id}/reactions:
    post:
      tags: [system]
      summary: Member. Toggle a reaction (emoji; ❤️ = Like) on a media asset; returns the refreshed summary.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [emoji]
              properties:
                emoji: { type: string, description: "One of ❤️ 🙏 🔥 🎉 👏" }
      responses:
        "200": { description: "{ on, reactions[], love_count, liked }" }
        "400": { description: Unsupported reaction }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/media:
    get:
      tags: [system]
      summary: Admin. Video Library — managed assets with linked module, stuck-encoding flag, external + library fields, derived views/completion.
      parameters:
        - { name: status, in: query, required: false, schema: { type: string, enum: [uploading, transcoding, ready, failed] } }
        - { name: video_source, in: query, required: false, schema: { type: string, enum: [cloudinary, youtube, vimeo, direct, private] } }
        - { name: level, in: query, required: false, schema: { type: integer } }
        - { name: attached, in: query, required: false, schema: { type: string, enum: ["true", "false"] } }
        - { name: q, in: query, required: false, schema: { type: string } }
      responses:
        "200": { description: Assets }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/media/external:
    post:
      tags: [system]
      summary: Admin. Register an external video (YouTube/Vimeo/direct/private); no transcode, status ready immediately.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [video_source, url]
              properties:
                video_source: { type: string, enum: [youtube, vimeo, direct, private] }
                url: { type: string, format: uri }
                title: { type: string }
                caption: { type: string }
                level_number: { type: integer }
      responses:
        "201": { description: Registered asset }
        "400": { description: Validation failed }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/media/videos/upload:
    post:
      tags: [system]
      summary: Admin. Upload a video file to our own storage (VPS disk, not Cloudinary); registers a ready 'direct' asset with a public URL.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
                title: { type: string }
                caption: { type: string }
                level_number: { type: integer }
      responses:
        "201": { description: Stored asset }
        "400": { description: Validation failed (not a video / too large) }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/media/audio/upload:
    post:
      tags: [system]
      summary: Admin. Upload session audio (Radio) to our own storage (VPS disk); returns a bare { url, duration_sec } (no media_assets row).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
                duration_sec: { type: integer }
      responses:
        "201":
          description: Stored audio URL
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AudioUploadResult" }
        "400": { description: Validation failed (not audio / too large / no file) }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/media/videos/chunk:
    put:
      tags: [system]
      summary: Admin. Upload one chunk of a chunked parallel video upload (raw octet-stream body).
      parameters:
        - { in: query, name: upload_id, required: true, schema: { type: string, format: uuid } }
        - { in: query, name: index, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema: { type: string, format: binary }
      responses:
        "200": { description: Chunk stored }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/media/videos/finalize:
    post:
      tags: [system]
      summary: Admin. Finalize a chunked upload — concatenates the chunks and registers a ready 'direct' asset.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [upload_id, total_chunks]
              properties:
                upload_id: { type: string, format: uuid }
                total_chunks: { type: integer }
                filename: { type: string }
                title: { type: string }
                caption: { type: string }
                level_number: { type: integer }
      responses:
        "201": { description: Stored asset }
        "400": { description: Validation failed (missing chunk / too large) }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /home/welcome-video:
    get:
      tags: [system]
      summary: Member. The current homepage welcome video (external link or signed delivery URL), or null.
      responses:
        "200": { description: Welcome video or null }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /admin/media/uploads:
    post:
      tags: [system]
      summary: Admin. Create a direct-to-storage upload session (signed PUT URL).
      responses:
        "201": { description: Upload session }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/media/uploads/{id}/complete:
    post:
      tags: [system]
      summary: Admin. Mark upload complete; enqueues transcode. Idempotent.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Transcoding }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/media/{id}:
    get:
      tags: [system]
      summary: Admin. Asset status, ladder, duration, error_detail, external + library fields.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Asset }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [system]
      summary: Admin. Update caption, level_number, title (and external video_source/url).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                caption: { type: string }
                level_number: { type: [integer, "null"] }
                video_source: { type: string, enum: [youtube, vimeo, direct, private] }
                url: { type: string, format: uri }
      responses:
        "200": { description: Updated asset }
        "400": { description: Validation failed }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [system]
      summary: Admin. Archive an asset (refused if a published module references it).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Archived }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { $ref: "#/components/responses/Conflict" }
  /admin/media/{id}/homepage:
    post:
      tags: [system]
      summary: Admin. Set this asset as THE homepage welcome video (unsets any other).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Set }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [system]
      summary: Admin. Clear the homepage flag from this asset.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Cleared }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/media/{id}/thumbnail:
    post:
      tags: [system]
      summary: Admin. Set the thumbnail/poster image (uploaded image or a frame captured from the video).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
      responses:
        "200": { description: Thumbnail set }
        "400": { description: Validation failed (not an image / too large) }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [system]
      summary: Admin. Clear the asset's thumbnail.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Thumbnail cleared }
        "404": { $ref: "#/components/responses/NotFound" }

  # --- Calendar (Features v2 §C) ---
  /calendar:
    get:
      tags: [system]
      summary: Projected occurrences in a bounded window (≤ 92 days), visibility-scoped.
      parameters:
        - { name: from, in: query, required: true, schema: { type: string, format: date-time } }
        - { name: to, in: query, required: true, schema: { type: string, format: date-time } }
      responses:
        "200": { description: "Occurrences, each with a `going` count and up to 5 `attendees` ({ user_id, full_name, avatar_url }) for who's coming." }
        "400": { description: Invalid range }
  /calendar/parse:
    post:
      tags: [system]
      summary: Leader+. NLP quick-add → suggested title/start/end (never auto-creates).
      responses:
        "200": { description: Parsed suggestion }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /events/{id}:
    get:
      tags: [system]
      summary: One occurrence — details, RSVP counts, my RSVP.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Event }
        "404": { $ref: "#/components/responses/NotFound" }
  /events/{id}/rsvp:
    post:
      tags: [system]
      summary: Set RSVP (idempotent via client_mutation_id; offline-queueable).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: RSVP recorded }
        "404": { $ref: "#/components/responses/NotFound" }
  /events/{id}/posts:
    get:
      tags: [system]
      summary: Event wall — attendee posts (image + caption) for an occurrence.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Posts }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [system]
      summary: Post to an event wall (photo and/or caption; idempotent via client_mutation_id).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "201": { description: Posted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /events/{id}/posts/{postId}/react:
    post:
      tags: [system]
      summary: >-
        Set, switch, or clear the member's single reaction on a buzz post. One
        reaction per member per post (kind=cheer|love, or null to clear); switching
        keeps the latter. Returns fresh counts + the member's reaction.
      parameters:
        - $ref: "#/components/parameters/IdPath"
        - name: postId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Reaction applied }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/events/series:
    post:
      tags: [system]
      summary: >-
        Leader+/Admin. Create an event series (validated RRULE). Accepts either the
        canonical body (dtstart_local) or the portal's shape (start_date + start_time
        / starts_at, and a members|public|leaders visibility vocabulary). Open-ended
        RRULEs are bounded server-side (§C.4). status=draft records the series without
        materializing occurrences or showing it to members until published.
      responses:
        "201": { description: Series created }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /admin/events/series/{id}:
    put:
      tags: [system]
      summary: Leader+/Admin. Edit a series (future occurrences).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Updated }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    delete:
      tags: [system]
      summary: Leader+/Admin. Soft-delete a series (past occurrences preserved).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Deleted }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/events/series/{id}/exceptions:
    post:
      tags: [system]
      summary: Leader+/Admin. Cancel or reschedule one occurrence.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "201": { description: Exception recorded }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/events/series/{id}/pause:
    post:
      tags: [system]
      summary: Leader+/Admin. Pause a series — stops projecting/materializing future occurrences (audited). Returns the updated series (is_paused=true).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Paused }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/events/series/{id}/resume:
    post:
      tags: [system]
      summary: Leader+/Admin. Resume a paused series — restores normal projection (audited). Returns the updated series (is_paused=false).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Resumed }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }

  # --- Onboarding (Features v2 §O) ---
  /onboarding:
    get:
      tags: [auth]
      summary: Resumable onboarding session state (current step, completed, next required).
      responses:
        "200": { description: Session state }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /onboarding/steps/profile:
    put:
      tags: [auth]
      summary: Save profile step (DOB, phone, salvation year, baptism).
      responses:
        "200": { description: Saved }
  /onboarding/steps/cell_selection:
    put:
      tags: [auth]
      summary: Select a cell; derives the congregation.
      responses:
        "200": { description: Saved }
  /onboarding/steps/guardian_consent:
    put:
      tags: [auth]
      summary: Minors only. Record guardian consent (immutable once granted; encrypted contact).
      responses:
        "200": { description: Recorded }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /onboarding/literacy-quiz:
    get:
      tags: [auth]
      summary: Serve the literacy assessment items.
      responses:
        "200": { description: Items }
  /onboarding/steps/literacy_quiz:
    put:
      tags: [auth]
      summary: Submit literacy answers (server-scored; idempotent).
      responses:
        "200": { description: Scored }
  /onboarding/steps/notifications:
    put:
      tags: [auth]
      summary: Set quiet hours / opt-in preferences.
      responses:
        "200": { description: Saved }
  /onboarding/finalize:
    post:
      tags: [auth]
      summary: Validate all required steps (consent REQUIRED for minors) → enroll at L1.
      responses:
        "201": { description: Enrolled }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /directory/cell-groups:
    get:
      tags: [auth]
      summary: Minimal-field cell directory for selection (auth + rate-limited).
      parameters:
        - { name: congregation, in: query, schema: { type: string, format: uuid } }
        - { name: search, in: query, schema: { type: string } }
      responses:
        "200": { description: Cells }

  # --- Gamification (Features v2 §G) ---
  /me/achievements:
    get:
      tags: [system]
      summary: My badges + streak + aggregate stats.
      responses:
        "200": { description: Achievements }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /badges:
    get:
      tags: [system]
      summary: Active badge catalog (what's possible).
      responses:
        "200": { description: Catalog }
  /cells/{id}/milestones:
    get:
      tags: [system]
      summary: Aggregate-only cell encouragement (k-anonymity floor; never per-member ranks).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Aggregates }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /members/{id}/achievements:
    get:
      tags: [system]
      summary: Leader-scoped pastoral view of a member's achievements.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Achievements }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/badges:
    get:
      tags: [system]
      summary: Admin (view). Full badge catalog incl. deactivated (is_active flag). Members use /badges.
      responses:
        "200": { description: Badge catalog }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [system]
      summary: Admin. Create a badge (criteria validated against the registered rule schema).
      responses:
        "201": { description: Created }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { $ref: "#/components/responses/Conflict" }
  /admin/badges/{code}:
    delete:
      tags: [system]
      summary: Admin. Deactivate a badge (never revokes earned badges).
      parameters:
        - { name: code, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Deactivated }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/badges/{code}/reactivate:
    post:
      tags: [system]
      summary: Admin. Re-activate a deactivated badge so it is awarded again.
      parameters:
        - { name: code, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Reactivated }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/members/{id}/badges/{code}/revoke:
    post:
      tags: [system]
      summary: Admin. Data-correction revocation (audited, reason required).
      parameters:
        - $ref: "#/components/parameters/IdPath"
        - { name: code, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Revoked }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }

  # --- Module reflections (Contract Matrix B3) ---
  /modules/{id}/reflection:
    get:
      tags: [assessment]
      summary: The member's saved standalone reflection for a module (null when none). Unlock-gated like getModule.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: The saved reflection, or null
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    oneOf:
                      - type: "null"
                      - type: object
                        required: [body, created_at]
                        properties:
                          body: { type: string }
                          created_at: { type: string, format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/GateLocked" }
    post:
      tags: [assessment]
      summary: >-
        Write (or overwrite) the member's reflection on a module — one of the content
        steps the quiz / mark-complete gate requires (read → watch → listen → reflect).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string, minLength: 1, maxLength: 4000 }
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [body, created_at]
                    properties:
                      body: { type: string }
                      created_at: { type: string, format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/GateLocked" }
  /modules/{id}/reflection/review:
    get:
      tags: [assessment]
      summary: The member's own module-reflection review state + reviewer feedback (never the pastoral note).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Reflection review state }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/reflections:
    get:
      tags: [portal]
      summary: Leader+. Module-reflection review queue (cell-scoped; state + overdue filters).
      responses:
        "200": { description: Queue }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/reflections/{id}/decision:
    post:
      tags: [portal]
      summary: Leader+. Approve / return (feedback required, re-locks gating) / defer. Audited; notifies member (+multiplier).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Decided }
        "400": { description: Validation failed }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/reflections/{id}/history:
    get:
      tags: [portal]
      summary: Leader+. The audited decision trail for one reflection.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: History }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }

  # --- Attendance + events ops (Contract Matrix B2) ---
  /me/rsvps:
    get:
      tags: [system]
      summary: The member's RSVPs for upcoming events.
      responses:
        "200": { description: RSVPs }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /calendar/series:
    get:
      tags: [system]
      summary: Followable event series for the member (Events make "Series you follow") — cadence, next occurrence, following flag, new count.
      responses:
        "200": { description: Series }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /calendar/series/{id}/follow:
    post:
      tags: [system]
      summary: Follow / unfollow an event series (idempotent toggle).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Follow state }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /me/cell-summary:
    get:
      tags: [system]
      summary: The member's cell summary for the Events tab (cell, members, this-month attendance, next gathering). Returns cell=null without a cell.
      responses:
        "200": { description: Cell summary }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /admin/events/{id}/checkins:
    post:
      tags: [portal]
      summary: Leader+. Manual check-in with optional reason (cell-scoped, idempotent, audited).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "201": { description: Checked in (or duplicate) }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /admin/events/{id}/guests:
    post:
      tags: [portal]
      summary: Leader+. Record a walk-in / first-time guest (cell-scoped, audited).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "201": { description: Guest recorded }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/events/{id}/attendance:
    get:
      tags: [portal]
      summary: Leader+. Event roster — checked-in (with method), guests, RSVP'd-but-absent.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Roster }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/events/{id}/rsvps:
    get:
      tags: [portal]
      summary: >-
        Leader+. RSVP roster for one occurrence (cell-scoped). Returns buckets
[...]
