openapi: 3.1.0
info:
  title: Nuru Place Pathway API
  version: "1.0.0"
  description: >
    Versioned REST surface over the §2 schema. Every endpoint is stateless,
    authenticated at the gateway, and idempotent wherever it creates state from a
    flaky client (spec §3). This document is the versioned contract validated in
    CI (§1.11, §3.7). The endpoint catalog below is the full v1 surface from §3.3;
    request/response schemas are filled in incrementally as features land — only
    the QuizSubmission/QuizResult slice from §3.7 is fleshed out so far.
servers:
  - url: https://api.nuruplace.org/v1
    description: Production (major version in path; additive-only within a major)

tags:
  - name: auth
  - name: curriculum
  - name: progress
  - name: assessment
  - name: portal
  - name: giving
  - name: certificates
  - name: system

security:
  - bearerAuth: []

paths:
  # --- Health (§4.7) ---
  /healthz:
    get:
      tags: [system]
      summary: Liveness probe.
      security: []
      responses:
        "200": { description: Process is up }
  /readyz:
    get:
      tags: [system]
      summary: Readiness probe (checks database and, when configured, Redis reachability).
      security: []
      responses:
        "200": { description: Ready }
        "503": { description: A dependency is unavailable }
  /metrics:
    get:
      tags: [system]
      summary: RED-style request metrics snapshot (count, errors, latency by status class).
      security: []
      responses:
        "200": { description: Metrics snapshot }

  # --- Authentication & identity (§3.3) ---
  /auth/oauth/{provider}:
    post:
      tags: [auth]
      summary: Exchange an IdP authorization code for our tokens; provisions on first login.
      security: []
      parameters:
        - { name: provider, in: path, required: true, schema: { type: string, enum: [kingschat, google, apple] } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OAuthExchange" }
      responses:
        "200":
          description: Token pair issued
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenPair" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }
  /auth/token/refresh:
    post:
      tags: [auth]
      summary: Rotate refresh token; reuse detection revokes the family.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RefreshRequest" }
      responses:
        "200":
          description: New access + refresh pair
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenPair" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /auth/logout:
    post:
      tags: [auth]
      summary: Revoke the current refresh-token family.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RefreshRequest" }
      responses:
        "204": { description: Logged out }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /auth/dev-login:
    post:
      tags: [auth]
      summary: DEV ONLY. Mint a session for a seeded user by email/user_id. 404 in production (never mounted).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                user_id: { type: string, format: uuid }
      responses:
        "200":
          description: Token pair issued
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenPair" }
        "404": { $ref: "#/components/responses/NotFound" }
  /auth/mfa/enroll:
    post:
      tags: [auth]
      summary: Begin TOTP enrollment; returns an otpauth URI for an authenticator app (§5.3).
      responses:
        "201":
          description: Enrollment started (activates on first verify)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MfaEnroll" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /auth/mfa/verify:
    post:
      tags: [auth]
      summary: Verify a TOTP code; returns an MFA-elevated access token for step-up (§5.3).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MfaVerify" }
      responses:
        "200":
          description: MFA-elevated access token
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MfaElevation" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me:
    get:
      tags: [auth]
      summary: Current user profile + enrollment summary + active level.
      responses:
        "200":
          description: Profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeProfile" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    patch:
      tags: [auth]
      summary: Update mutable profile fields with row_version check.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProfileUpdate" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeProfile" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/Conflict" }
  /me/onboarding:
    post:
      tags: [auth]
      summary: Submit baseline intake + literacy quiz; instantiates enrollment at L1·M1.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OnboardingIntake" }
      responses:
        "201": { description: Enrolled }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /me/devices:
    post:
      tags: [auth]
      summary: Register a device + push token; returns a device_id for sync cursors.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DeviceRegister" }
      responses:
        "201": { description: Device registered }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # --- Curriculum & content (§3.3) ---
  /levels:
    get:
      tags: [curriculum]
      summary: The discipleship levels with themes and pass marks.
      responses:
        "200": { description: Levels }
  /levels/{n}/modules:
    get:
      tags: [curriculum]
      summary: Modules for a level; locked ones return metadata + locked:true.
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Modules }
  /modules/{id}:
    get:
      tags: [curriculum]
      summary: Full lesson content + signed media URL.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Module body }
        "409": { $ref: "#/components/responses/GateLocked" }
  /scripture:
    get:
      tags: [curriculum]
      summary: Sanitised YouVersion passage by ref + version + language.
      parameters:
        - { name: ref, in: query, required: true, schema: { type: string } }
        - { name: version, in: query, schema: { type: string } }
        - { name: language, in: query, schema: { type: string } }
      responses:
        "200":
          description: Passage
          content:
            application/json:
              schema:
                type: object
                required: [reference, text]
                properties:
                  reference: { type: string }
                  version: { type: string }
                  language: { type: string }
                  text: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }
  # --- Admin curriculum CMS (Admin/SuperAdmin only, §5.4) ---
  /admin/levels:
    get:
      tags: [curriculum]
      summary: Admin. All levels with per-status module counts.
      responses:
        "200": { description: Levels }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [curriculum]
      summary: Admin. Create the next contiguous level.
      responses:
        "201": { description: Created }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/levels/{n}:
    put:
      tags: [curriculum]
      summary: Admin. Update a level's title/theme/pass mark.
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Updated }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/levels/{n}/exam:
    put:
      tags: [curriculum]
      summary: Admin. Configure the level exit exam (pass mark + served question count).
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Configured }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/levels/{n}/modules:
    get:
      tags: [curriculum]
      summary: Admin. All modules for a level incl. drafts/archived, in sequence.
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Modules }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/modules:
    post:
      tags: [curriculum]
      summary: Admin. Create a module (auto-appended sequence); 409 on sequence clash.
      responses:
        "201": { description: Created }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /admin/modules/{id}:
    get:
      tags: [curriculum]
      summary: Admin. Full module record incl. content + current version.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Module }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [curriculum]
      summary: Admin. Edit any field; content edits version the module (optimistic-concurrency).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Updated }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { $ref: "#/components/responses/Conflict" }
    delete:
      tags: [curriculum]
      summary: Admin. Archive (soft) a module; never hard-deleted.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Archived }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/modules/{id}/publish:
    post:
      tags: [curriculum]
      summary: Admin. Publish with validation (quiz needs questions; sequence stays contiguous).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Published }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /admin/modules/{id}/unpublish:
    post:
      tags: [curriculum]
      summary: Admin. Return a module to draft (immediately hidden from students).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Unpublished }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/modules/{id}/reorder:
    post:
      tags: [curriculum]
      summary: Admin. Move a module within its level; re-sequences atomically.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Reordered }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/modules/{id}/versions:
    get:
      tags: [curriculum]
      summary: Admin. Module version history (who/when/version).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Versions }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/modules/{id}/revert:
    post:
      tags: [curriculum]
      summary: Admin. Restore a prior version as a new version.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Reverted }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /admin/modules/{id}/questions:
    get:
      tags: [curriculum]
      summary: Admin. Active question bank for a module.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Questions }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    post:
      tags: [curriculum]
      summary: Admin. Add question-bank items (per-type validation).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "201": { description: Saved }
        "400": { description: Validation failed }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/questions/{qid}:
    put:
      tags: [curriculum]
      summary: Admin. Edit a question (per-type validation on the merged result).
      parameters:
        - { name: qid, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200": { description: Updated }
        "400": { description: Validation failed }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
    delete:
      tags: [curriculum]
      summary: Admin. Soft-delete (deactivate) a question.
      parameters:
        - { name: qid, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200": { description: Deleted }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /admin/preview:
    post:
      tags: [curriculum]
      summary: Admin. Render authored Markdown to sanitized HTML for preview.
      responses:
        "200": { description: Sanitized HTML }
        "403": { $ref: "#/components/responses/ForbiddenScope" }

  # --- Progress, assessment & reflections (§3.3) ---
  /modules/{id}/complete:
    post:
      tags: [progress]
      summary: Mark module complete (idempotent via client_mutation_id); re-evaluates gating.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200": { description: Completed }
        "409": { $ref: "#/components/responses/GateLocked" }
  /modules/{id}/quiz:
    get:
      tags: [assessment]
      summary: Assemble a randomised quiz from the module bank (no answers returned).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Served question set
          content:
            application/json:
              schema: { $ref: "#/components/schemas/QuizAssembly" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/GateLocked" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /modules/{id}/quiz/attempts:
    post:
      tags: [assessment]
      summary: Submit a quiz attempt
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/QuizSubmission" }
      responses:
        "200":
          description: Scored
          content:
            application/json:
              schema: { $ref: "#/components/schemas/QuizResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/GateLocked" }
  /levels/{n}/exam:
    get:
      tags: [assessment]
      summary: Assemble the level exit exam from the level's active question pool.
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer } }
      responses:
        "200":
          description: Served exam question set
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExamAssembly" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/GateLocked" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /levels/{n}/exam/attempts:
    post:
      tags: [assessment]
      summary: Submit the level exit exam; ≥ pass mark required to proceed.
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/QuizSubmission" }
      responses:
        "200":
          description: Scored
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExamResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/GateLocked" }
  /levels/{n}/reflection:
    post:
      tags: [assessment]
      summary: Submit the descriptive reflection; enqueues to the review queue.
      parameters:
        - { name: n, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReflectionSubmit" }
      responses:
        "201":
          description: Enqueued
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReflectionReview" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/GateLocked" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /events/{id}/attendance:
    post:
      tags: [progress]
      summary: Record a QR check-in (idempotent via client_scan_id); validates the scan token.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [client_scan_id, scan_token]
              properties:
                client_scan_id: { type: string, format: uuid }
                scan_token: { type: string }
      responses:
        "201":
          description: Checked in
          content:
            application/json:
              schema:
                type: object
                required: [attendance_id, duplicate]
                properties:
                  attendance_id: { type: string, format: uuid }
                  duplicate: { type: boolean }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }

  # --- Multiplier / admin portal (§3.3) ---
  /cohorts/{cell_id}/members:
    get:
      tags: [portal]
      summary: Cohort members sorted by e_score asc; scoped to caller's leader_assignments.
      parameters:
        - { name: cell_id, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: band, in: query, schema: { type: string, enum: [thriving, steady, watch, at_risk] } }
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Cohort page (ascending by e_score)
          content:
            application/json:
              schema:
                type: object
                required: [data, next_cursor]
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/EngagementBreakdown" } }
                  next_cursor: { type: [string, "null"] }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /members/{id}/engagement:
    get:
      tags: [portal]
      summary: A member's Hᵢ/Cᵢ/Aᵢ breakdown + recent signal history.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Breakdown
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EngagementBreakdown" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "404": { $ref: "#/components/responses/NotFound" }
  /reviews:
    get:
      tags: [portal]
      summary: The reflection-review queue for the caller's scope.
      parameters:
        - { name: state, in: query, schema: { type: string, enum: [pending, approved, rejected] } }
      responses:
        "200":
          description: Queue
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/ReviewQueueItem" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
  /reviews/{id}/decision:
    post:
      tags: [portal]
      summary: Approve/reject a reflection; approval flips the level and triggers certificate issuance.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReviewDecision" }
      responses:
        "200":
          description: Decision recorded
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReviewDecisionResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { $ref: "#/components/responses/Conflict" }
  /relationships:
    post:
      tags: [portal]
      summary: Log a multiplier→disciple edge in the relationship tree.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [disciple_id]
              properties:
                disciple_id: { type: string, format: uuid }
                multiplier_id: { type: string, format: uuid, description: Admin-only; defaults to the caller }
      responses:
        "201":
          description: Edge created
          content:
            application/json:
              schema: { type: object, required: [tree_id], properties: { tree_id: { type: string, format: uuid } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }
        "409": { $ref: "#/components/responses/Conflict" }
  /members/{id}/milestones:
    patch:
      tags: [portal]
      summary: Record external milestones (water baptism verified, etc.).
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_baptized: { type: boolean }
                year_of_salvation: { type: [integer, "null"] }
      responses:
        "200": { description: Updated }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/ForbiddenScope" }

  # --- Giving, products & certificates (§3.3) ---
  /giving/intents:
    post:
      tags: [giving]
      summary: Create a Stripe PaymentIntent (idempotent); returns client secret.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GivingIntentRequest" }
      responses:
        "201":
          description: Intent created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GivingIntentResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }
  /giving/history:
    get:
      tags: [giving]
      summary: The caller's own giving/purchase ledger.
      responses:
        "200":
          description: Ledger
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/GivingRecord" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /products:
    get:
      tags: [giving]
      summary: Purchasable media catalogue.
      responses:
        "200":
          description: Products
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required: [product_id, title, price_minor, currency]
                      properties:
                        product_id: { type: string, format: uuid }
                        title: { type: string }
                        price_minor: { type: integer, format: int64 }
                        currency: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /products/{id}/purchase:
    post:
      tags: [giving]
      summary: Buy media; on success grants access via purchases.
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "201":
          description: Purchase started (access granted on the webhook)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GivingIntentResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
  /certificates:
    get:
      tags: [certificates]
      summary: The caller's issued certificates with download URLs.
      responses:
        "200":
          description: Certificates
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/Certificate" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /verify/{code}:
    get:
      tags: [certificates]
      summary: Public. Verify a certificate by its printed code.
      security: []
      parameters:
        - { name: code, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Issuance facts + validity
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CertificateVerification" }
        "404": { $ref: "#/components/responses/NotFound" }

  # --- Media (§4.5) ---
  /media/url:
    get:
      tags: [system]
      summary: Broker a short-lived signed delivery URL for an object key.
      parameters:
        - { name: key, in: query, required: true, schema: { type: string } }
      responses:
        "200":
          description: Signed URL
          content:
            application/json:
              schema:
                type: object
                required: [url, expires_at]
                properties:
                  url: { type: string, format: uri }
                  expires_at: { type: string, format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  # --- Webhooks & sync (system) (§3.3) ---
  /webhooks/stripe:
    post:
      tags: [system]
      summary: Stripe event receiver; HMAC-verified + idempotent.
      security: []
      responses:
        "200": { description: Acknowledged }
  /sync/pull:
    post:
      tags: [system]
      summary: Delta pull — cursors in, changed rows + tombstones + new cursors out.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SyncPullRequest" }
      responses:
        "200":
          description: Delta
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SyncPullResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /sync/push:
    post:
      tags: [system]
      summary: Replay the offline mutation queue; per-mutation results.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SyncPushRequest" }
      responses:
        "200":
          description: Per-mutation results
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SyncPushResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }

components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }

  parameters:
    IdPath:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    Limit:
      name: limit
      in: query
      schema: { type: integer, default: 50, maximum: 200 }
    Cursor:
      name: cursor
      in: query
      schema: { type: string }

  responses:
    Conflict:
      description: Optimistic-concurrency clash; current value returned.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    GateLocked:
      description: Content or action blocked by the gating engine.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    ForbiddenScope:
      description: Authenticated but not authorised for this resource.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Unauthorized:
      description: Missing, invalid, or expired credentials.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Unprocessable:
      description: Well-formed but semantically invalid (e.g. unknown cell group).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    UpstreamUnavailable:
      description: A required dependency (e.g. the IdP) is unreachable or not configured.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, request_id]
          properties:
            code: { type: string }
            message: { type: string }
            request_id: { type: string }
            details: { type: object, additionalProperties: true }

    # --- Auth & identity (§3.3, §5.3) ---
    OAuthExchange:
      type: object
      required: [code]
      description: Server-side authorization-code exchange inputs (§5.3).
      properties:
        code: { type: string, minLength: 1 }
        redirect_uri: { type: string, format: uri }
        code_verifier: { type: string, minLength: 1, description: PKCE verifier }
    TokenPair:
      type: object
      required: [access_token, refresh_token, token_type, expires_in]
      properties:
        access_token: { type: string, description: Short-lived (15-min) access JWT }
        refresh_token: { type: string, description: Rotating refresh token (returned once) }
        token_type: { type: string, enum: [Bearer] }
        expires_in: { type: integer, description: Access-token lifetime in seconds }
    RefreshRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token: { type: string, minLength: 1 }
    MeProfile:
      type: object
      required: [profile]
      properties:
        profile:
          type: object
          required: [user_id, full_name, role, congregation_id, row_version]
          properties:
            user_id: { type: string, format: uuid }
            email: { type: [string, "null"] }
            full_name: { type: string }
            phone_number: { type: [string, "null"] }
            date_of_birth: { type: [string, "null"], format: date }
            year_of_salvation: { type: [integer, "null"] }
            is_baptized: { type: boolean }
            cell_group_id: { type: [string, "null"], format: uuid }
            congregation_id: { type: [string, "null"], format: uuid }
            role: { type: string, enum: [Student, Instructor, Admin, SuperAdmin] }
            timezone: { type: string }
            locale: { type: string }
            is_minor: { type: boolean }
            row_version: { type: integer }
        enrollment:
          type: [object, "null"]
          properties:
            enrollment_id: { type: string, format: uuid }
            current_level: { type: integer }
            state: { type: string, enum: [active, paused, completed, withdrawn] }
            started_at: { type: string, format: date-time }
    ProfileUpdate:
      type: object
      required: [row_version]
      description: Mutable fields only; role/congregation are not self-writable (§5.4, §5.8).
      properties:
        phone_number: { type: string, minLength: 3, maxLength: 32 }
        cell_group_id: { type: [string, "null"], format: uuid }
        timezone: { type: string, maxLength: 64 }
        locale: { type: string, maxLength: 12 }
        row_version: { type: integer, description: Expected version for optimistic concurrency }
    OnboardingIntake:
      type: object
      required: [date_of_birth, phone_number, cell_group_id]
      properties:
        date_of_birth: { type: string, format: date }
        phone_number: { type: string, minLength: 3, maxLength: 32 }
        cell_group_id: { type: string, format: uuid }
        year_of_salvation: { type: integer, minimum: 1900, maximum: 2100 }
        is_baptized: { type: boolean, default: false }
        timezone: { type: string, maxLength: 64 }
    DeviceRegister:
      type: object
      required: [platform]
      properties:
        platform: { type: string, enum: [ios, android] }
        app_version: { type: string, maxLength: 20 }
        push_token: { type: string, maxLength: 512 }
    MfaEnroll:
      type: object
      required: [otpauth_uri, secret]
      properties:
        otpauth_uri: { type: string, description: otpauth:// URI for QR provisioning }
        secret: { type: string, description: base32 TOTP secret (shown once for manual entry) }
    MfaVerify:
      type: object
      required: [code]
      properties:
        code: { type: string, pattern: "^[0-9]{6,10}$" }
    MfaElevation:
      type: object
      required: [access_token, token_type, expires_in, mfa_enabled]
      properties:
        access_token: { type: string, description: Access token carrying the verified mfa claim }
        token_type: { type: string, enum: [Bearer] }
        expires_in: { type: integer }
        mfa_enabled: { type: boolean }

    GivingIntentRequest:
      type: object
      required: [fund, amount_minor, currency]
      properties:
        fund: { type: string, enum: [tithe, offering, general, media] }
        amount_minor: { type: integer, format: int64, description: "Minor units, never floats" }
        currency: { type: string, minLength: 3, maxLength: 3 }
        idempotency_key: { type: string, minLength: 8, maxLength: 255, description: Client-supplied; replays return the same transaction }
    GivingIntentResult:
      type: object
      required: [transaction_id, status, idempotency_key, reused]
      properties:
        transaction_id: { type: string, format: uuid }
        client_secret: { type: string, description: Stripe PaymentIntent client secret (absent on a reused intent) }
        status: { type: string, enum: [processing, succeeded, failed, requires_action, refunded] }
        idempotency_key: { type: string }
        reused: { type: boolean }
    GivingRecord:
      type: object
      required: [transaction_id, amount_minor, currency, status]
      properties:
        transaction_id: { type: string, format: uuid }
        amount_minor: { type: integer, format: int64 }
        currency: { type: string }
        status: { type: string }
        fund: { type: [string, "null"] }
        created_at: { type: string, format: date-time }
        settled_at: { type: [string, "null"], format: date-time }

    QuizSubmission:
      type: object
      required: [client_mutation_id, answers]
      properties:
        client_mutation_id: { type: string, format: uuid }
        answers:
          type: array
          items:
            type: object
            required: [question_id, given_answer]
            properties:
              question_id: { type: string, format: uuid }
              given_answer: { type: string }

    QuizResult:
      type: object
      required: [attempt_id, score_achieved, is_passed, pass_mark]
      properties:
        attempt_id: { type: string }
        score_achieved: { type: number }
        is_passed: { type: boolean }
        pass_mark: { type: number }
        unlocked_next_module_id: { type: [string, "null"] }
        duplicate: { type: boolean, description: True when a replayed client_mutation_id returned the prior attempt }
    QuizAssembly:
      type: object
      required: [module_id, question_count, questions]
      properties:
        module_id: { type: string, format: uuid }
        question_count: { type: integer }
        questions:
          type: array
          items:
            type: object
            required: [question_id, q_type, question_text]
            properties:
              question_id: { type: string, format: uuid }
              q_type: { type: string, enum: [MultipleChoice, TrueFalse, FillInTheBlank] }
              question_text: { type: string }
              answer_options: { type: [array, "null"], items: { type: string } }
    ExamAssembly:
      type: object
      required: [level_number, question_count, questions]
      properties:
        level_number: { type: integer }
        question_count: { type: integer }
        questions:
          type: array
          items:
            type: object
            required: [question_id, q_type, question_text]
            properties:
              question_id: { type: string, format: uuid }
              q_type: { type: string, enum: [MultipleChoice, TrueFalse, FillInTheBlank] }
              question_text: { type: string }
              answer_options: { type: [array, "null"], items: { type: string } }
    ExamResult:
      type: object
      required: [exam_attempt_id, score_achieved, is_passed, pass_mark]
      properties:
        exam_attempt_id: { type: string, format: uuid }
        score_achieved: { type: number }
        is_passed: { type: boolean }
        pass_mark: { type: number }
        duplicate: { type: boolean }
    ReflectionSubmit:
      type: object
      required: [reflection_text]
      properties:
        reflection_text: { type: string, minLength: 20, maxLength: 5000 }
    ReflectionReview:
      type: object
      required: [review_id, state, level_number]
      properties:
        review_id: { type: string, format: uuid }
        state: { type: string, enum: [pending, approved, rejected] }
        level_number: { type: integer }
    ReviewQueueItem:
      type: object
      required: [review_id, user_id, level_number, reflection_text, submitted_at]
      properties:
        review_id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        full_name: { type: string }
        level_number: { type: integer }
        reflection_text: { type: string }
        cell_group_id: { type: [string, "null"], format: uuid }
        submitted_at: { type: string, format: date-time }
    ReviewDecision:
      type: object
      required: [decision]
      properties:
        decision: { type: string, enum: [approve, reject] }
        feedback_notes: { type: string, maxLength: 2000 }
    ReviewDecisionResult:
      type: object
      required: [review_id, state, leveled_up]
      properties:
        review_id: { type: string, format: uuid }
        state: { type: string, enum: [approved, rejected] }
        leveled_up: { type: boolean }

    # --- Offline sync (§3.6) ---
    SyncPullRequest:
      type: object
      properties:
        device_id: { type: string, format: uuid }
        cursors:
          type: object
          additionalProperties: { type: integer }
          description: Per-domain last-seen change_id
    SyncPullResponse:
      type: object
      required: [changes, tombstones, cursors]
      properties:
        changes:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              required: [op, row]
              properties:
                op: { type: string, enum: [upsert] }
                row: { type: object, additionalProperties: true }
        tombstones:
          type: object
          additionalProperties: { type: array, items: { type: string, format: uuid } }
        cursors:
          type: object
          additionalProperties: { type: integer }
    SyncPushRequest:
      type: object
      required: [mutations]
      properties:
        device_id: { type: string, format: uuid }
        mutations:
          type: array
          maxItems: 500
          items:
            type: object
            required: [mutation_id, seq, domain, op]
            properties:
              mutation_id: { type: string, format: uuid }
              seq: { type: integer }
              domain: { type: string }
              op: { type: string }
              payload: { type: object, additionalProperties: true }
    SyncPushResponse:
      type: object
      required: [results]
      properties:
        results:
          type: array
          items:
            type: object
            required: [mutation_id, status]
            properties:
              mutation_id: { type: string, format: uuid }
              status: { type: string, enum: [applied, duplicate, rejected] }
              code: { type: string }
              detail: { type: string }

    # --- Engagement (§1.8) ---
    EngagementBreakdown:
      type: object
      required: [user_id, h_score, c_score, a_score, e_score, band]
      properties:
        user_id: { type: string, format: uuid }
        full_name: { type: string }
        h_score: { type: number, description: Habits (0–1) }
        c_score: { type: number, description: Curriculum (0–1) }
        a_score: { type: number, description: Attendance (0–1) }
        e_score: { type: number, description: Composite Eᵢ (0–1) }
        band: { type: string, enum: [thriving, steady, watch, at_risk] }
        last_active_days_ago: { type: [integer, "null"] }
        window_end: { type: string, format: date }
        computed_at: { type: string, format: date-time }

    # --- Certificates (§5.5) ---
    Certificate:
      type: object
      required: [certificate_id, verification_code, issued_at]
      properties:
        certificate_id: { type: string, format: uuid }
        level_number: { type: [integer, "null"] }
        verification_code: { type: string }
        pdf_object_key: { type: string }
        issued_at: { type: string, format: date-time }
        download_url: { type: string }
    CertificateVerification:
      type: object
      required: [valid]
      properties:
        valid: { type: boolean }
        recipient_name: { type: string }
        level_number: { type: [integer, "null"] }
        issued_at: { type: string, format: date-time }
